<% provide :title, "编辑培训经历" %>

<div class="edit_basic edit-work-experiences work-edit-page work-mask train-edit" id="work_eidt">
    <%= simple_form_for @training_experience, :method => :patch, remote: true, url: webapp_training_experience_path(params[:id]), class: "form-btn-submit" do |f| %>
    <div class="job-pubilc">
      <%= f.input :name, label: "培训名称", input_html: { class: "user-input", id: "train_name", name: "name"} %>
      <span class="empty-cont" onclick="EmptyCont('train_name')"></span>
    </div>

    <%= f.input :started_at, label: '开始时间', as: :string, input_html: { readonly: "readonly", class: "work-position user-input", id: "beginTime", name: "started_at"} %>
    <%= f.input :ended_at, label: '结束时间', as: :string, input_html: { class: "user-input", id: "endTime", name: "ended_at"} %>
    <%= f.input :certificate, label: '所持证书', as: :text, input_html: { class: "user-input", id: "train_certificate", name: "certificate"} %>
    <%= f.input :desc, label: '培训内容', as: :text, input_html: { class: "user-input", id: "job_textarea", placeholder: "最多五百字", name: "desc"} %>
    <%= f.submit id: "submit", class: "btn btn-info btn-right class-display"%>
    <div class="btm-nav">
      <p class="btm-delete" onclick="ClickShowHide(this)">删除此经历</p>
      <p class="btm-save">保存</p>
    </div>
    <div class="datePlugin" style="clear: both"></div>
    <% end %>
    <%= link_to "删除此经历", webapp_training_experience_path(params[:id]), method: :delete, remote: true, id: "delete_bottom_id"%>

    <!-- 时间代码生成处 -->
　　　<div id="datePlugin" style="clear: both"></div>
</div>

<div id="popup_delete">
  <div id="popup">
  </div>
  <ul>
    <li>删除将无法恢复，确认删除吗？</li>
    <li onclick="ClickDeleteBtn(this)">确定</li>
    <li onclick="ClickDeleteBtn(this)">取消</li>
  </ul>
</div>




  <%= javascript_include_tag "date" %>
<script type="text/javascript">
  fullScreen('.edit_basic');
  // 表单验证
  formAll("#work_eidt form")

   $(function () {
    //  $('#beginTime').mobiscroll().calendar({
    //      theme: 'mobiscroll',
    //      lang: 'zh',
    //      display: 'bottom',
    //      calendarScroll: 'vertical',
    //      max: new Date()
    //  });
     //
    //  $('#endTime').mobiscroll().calendar({
    //      theme: 'mobiscroll',
    //      lang: 'zh',
    //      display: 'bottom',
    //      calendarScroll: 'vertical',
    //      max: new Date()
    //  });
  })

  // function selectDate() {
  //   console.log("11111")
  //   jeDate({
  //     dateCell: "#beginTime",
  //     format: "YYYY-MM-DD",
  //     isTime: true,
  //     isinitVal: true,
  //     isClick: false,
  //     // minDate:"2014-09-19 00:00:00"
  //     maxDate: "2016-09-19 00:00:00",
  //     // fixed: false,
  //   })
  // }


   $(".btm-save").on('click',function() {
     // 验证表单,失败返回
     if(valid("#work_eidt form")){
       return
     }

     // 判断开始时间是否大于结束时间
     var data_compare = dataCompare();
     if(data_compare) {
       return;
     }

     $(".btm-save").css("pointer-events","none");
     $(':submit').trigger('click');
   })

</script>
