<% provide :title, "添加培训经历" %>
<% provide :content, "保存" %>

<div class="edit_basic edit-work-experiences work-edit-page work-mask" id="work_eidt">
    <%= simple_form_for :training_experience, as: :post,remote: true, url: webapp_training_experiences_path do |f| %>
    <div class="job-pubilc">
      <%= f.input :name, label: "培训名称", input_html: { class: "user-input", id: "train_name", name: "name"} %>
      <span class="empty-cont" onclick="EmptyCont('train_name')"></span>
    </div>

    <%= f.input :started_at, label: '开始时间', input_html: { readonly: "readonly", class: "work-position user-input", id: "beginTime", name: "started_at"} %>
    <%= f.input :ended_at, label: '结束时间', input_html: { class: "user-input", id: "endTime", name: "ended_at"} %>
    <%= f.input :certificate, label: '所持证书', as: :text, input_html: { class: "user-input", id: "train_certificate", name: "certificate"} %>
    <%= f.input :desc, label: '培训内容', as: :text, input_html: { class: "user-input", id: "job_textarea", placeholder: "最多五百字", name: "desc"} %>
    <%= f.submit "提交", id: "submit", style: "display: none" %>
    <button type="button" name="button" id="btn_save" class="btn btn-info btn-right">提交</button>
    <% end %>

    <div id="datePlugin"></div>
</div>


<%= javascript_include_tag "date" %>
<script type="text/javascript">
    fullScreen('.edit_basic');
    // 表单验证
    formAll("#work_eidt form")

    $('#endTime').click(function() {
      this.blur();
    })

    $(function () {
      $('#beginTime').mobiscroll().calendar({
          theme: 'mobiscroll',
          lang: 'zh',
          display: 'bottom',
          calendarScroll: 'vertical',
          // min: new Date(2014, 8, 15),
          max: new Date()
      });

      $('#beginTime').change(function() {
        var beginTime = $('#beginTime').val(),
          begin_year = parseInt(beginTime.substr(0,4)),
          begin_mouth = parseInt(beginTime.substr(6,1))-1,
          begin_day = parseInt(beginTime.substr(8,2));

         $('#endTime').mobiscroll().calendar({
             theme: 'mobiscroll',
             lang: 'zh',
             display: 'bottom',
             calendarScroll: 'vertical',
             min: new Date(begin_year, begin_mouth, begin_day),
             max: new Date()
         });
      })
   })

  $("#btn_save").on('click',function() {
    // 验证表单,失败返回
    if(valid("#work_eidt form")){
      return
    }

    // 判断开始时间是否大于结束时间
    var data_compare = dataCompare();
    if(data_compare) {
      return;
    }

    $("#btn_save").css("pointer-events","none");
    $(':submit').trigger('click');
  })

</script>
