<% provide :title, "添加培训经历" %>
<% provide :content, "保存" %>

<div class="edit_basic edit-work-experiences work-edit-page work-mask" id="work_eidt">
    <%= simple_form_for :training_experience, as: :post,remote: true, url: webapp_training_experiences_path do |f| %>
    <div class="job-pubilc">
      <%= f.input :name, label: "培训名称", input_html: { class: "user-input", id: "train_name", name: "name"} %>
      <span class="empty-cont" onclick="EmptyCont('train_name')"></span>
    </div>

    <%= f.input :started_at, label: '开始时间', input_html: { readonly: "readonly", class: "work-position user-input", id: "beginTime", name: "started_at"} %>
    <%= f.input :ended_at, label: '结束时间', input_html: { class: "user-input", id: "endTime", name: "ended_at"} %>
    <%= f.input :certificate, label: '所持证书', as: :text, input_html: { class: "user-input", id: "train_certificate", name: "certificate"} %>
    <%= f.input :desc, label: '培训内容', as: :text, input_html: { class: "user-input", id: "job_textarea", placeholder: "最多五百字", name: "desc"} %>
    <%= f.submit "提交", id: "submit", style: "display: none" %>
    <button type="button" name="button" id="btn_save" class="btn btn-info btn-right">提交</button>
    <% end %>

    <div id="datePlugin"></div>
</div>


<%= javascript_include_tag "date" %>
<script type="text/javascript">
    fullScreen('.edit_basic');
    // 表单验证
    formAll("#work_eidt form")

  var start = {
      dateCell: '#beginTime',
      format: 'YYYY-MM-DD',
      minDate: '1900-01-01', //设定最小日期为当前日期
      ishmsVal:false,
      maxDate: '2099-06-30', //最大日期
      choosefun: function(elem,datas){
          //console.log(datas)
          end.minDate = datas; //开始日选好后，重置结束日的最小日期
      }
  };
  var end = {
      dateCell: '#endTime',
      format: 'YYYY-MM-DD',
      minDate: '1900-01-01', //设定最小日期为当前日期
      ishmsVal:false,
      maxDate: '2099-06-16', //最大日期
      choosefun: function(elem,datas){
          //console.log(end.minDate)
          start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
      }
  };
  jeDate(start);
  jeDate(end);

  // 判断时间插件 今天按钮是否需置灰
  preventClick("#beginTime", "#endTime");

  $("#btn_save").on('click',function() {
    // 表单验证提示语弹窗
    var timer = setTimeout(function(){
      unvalidAlert();
    },5)
    
    // 验证表单,失败返回
    if(valid("#work_eidt form")){
      return
    }

    $("#btn_save").css("pointer-events","none");
    $(':submit').trigger('click');
  })

</script>
