<% provide :title, "编辑工作经历" %>

<div class="edit_basic edit-work-experiences work-edit-page work-mask" id="work_eidt">
    <%= simple_form_for @work_experience, :method => :patch, remote: true, url: webapp_work_experience_path(params[:id]), class: "form-btn-submit" do |f| %>
      <div class="job-pubilc">
        <%= f.input :company, label: "机        构", input_html: { class: "user-input", id: "user_hospital", name: "company"} %>
        <span class="empty-cont" onclick="EmptyCont('user_hospital')"></span>
      </div>
      <%= f.input :position, label: '职        位', input_html: { readonly: "readonly", class: "work-position user-input", id: "work_position", name: "position"} %>
      <%= f.input :started_at, label: '入职时间', as: :string, input_html: { class: "user-input", id: "beginTime", name: "started_at"} %>
      <%= f.input :left_time, label: '离职时间', as: :string, input_html: { class: "user-input", id: "endTime", name: "left_time"} %>
      <%= f.input :job_desc, label: '工作内容', as: :text, input_html: { class: "user-input", id: "text_area", placeholder: "最多一千字", name: "job_desc"} %>
      <%= f.submit id: "submit", class: "btn btn-info btn-right class-display"%>
      <div class="btm-nav">
        <p class="btm-delete" onclick="ClickShowHide(this)">删除此经历</p>
        <p class="btm-save">保存</p>
      </div>
      <% end %>
      <%= link_to "删除此经历", webapp_work_experience_path(params[:id]), method: :delete, remote: true, id: "delete_bottom_id"%>

      <!-- 时间代码生成处 -->
　　　<div id="datePlugin"></div>
</div>

<div id="popup_delete">
  <div id="popup">
  </div>
  <ul>
    <li>删除将无法恢复，确认删除吗？</li>
    <li onclick="ClickDeleteBtn(this)">确定</li>
    <li onclick="ClickDeleteBtn(this)">取消</li>
  </ul>
</div>




  <%= javascript_include_tag "date" %>
<script type="text/javascript">
  fullScreen('.edit_basic');
  // 表单验证
  formAll("#work_eidt form")

  // 时间插件
  // $(function(){
  //    $('#beginTime').date(null, function(datestr) {
  //      beginBack(datestr, 'beginTime', 'endTime')
  //    })
  //
  //    $('#endTime').date(null, function(datestr) {
  //      endBack(datestr, 'beginTime', 'endTime')
  //    })
  //  })

   $(function () {
     $('#beginTime').mobiscroll().calendar({
         theme: 'mobiscroll',
         lang: 'zh',
         display: 'bottom',
         calendarScroll: 'vertical',
         // min: new Date(2014, 8, 15),
         max: new Date()
     });

     $('#endTime').mobiscroll().calendar({
         theme: 'mobiscroll',
         lang: 'zh',
         display: 'bottom',
         calendarScroll: 'vertical',
         // min: new Date($('#beginTime').val()),
         max: new Date()
     });
  })

   // 防重复点击
   $(".btm-save").on('click',function() {
     EditMask(".btm-save", "请完善信息！");

     // 验证表单,失败返回
     if(valid("#work_eidt form")){
       return
     }

     // 判断开始时间是否大于结束时间
     var data_compare = dataCompare();
     if(data_compare) {
       return;
     }

     $(".btm-save").css("pointer-events","none");
     $(':submit').trigger('click');
   })

   //职称
   $('.work-position').click(function() {
     this.blur()
     var work_position = ['机构管理人员','综合门诊/全科医生','内科医生','外科医生','专科医生','牙科医生','美容整形师',
     '麻醉医生','放射科医师','理疗师','中医科医生','针灸/推拿','儿科医生','心理医生','营养师','药库主任/药剂师','医药学检验',
     '公共卫生/疾病控制','护理主任/护士长','护士/护理人员','验光师'];
     var pclass = 'work_position';
     workExperience(work_position, ".work-position", pclass, true);
   });
   $('.right').css("display","none");



</script>
