<% provide :title, "添加工作经历" %>
<% provide :content, "保存" %>

<div class="edit_basic edit-work-experiences work-edit-page work-mask" id="work_eidt">
    <%= simple_form_for :work_experience, as: :post,remote: true, url: webapp_work_experiences_path do |f| %>
    <div class="job-pubilc">
      <%= f.input :company, label: "机        构", input_html: { class: "user-input", id: "user_hospital"} %>
      <span class="empty-cont" onclick="EmptyCont('user_hospital')"></span>
    </div>

    <%= f.input :position, label: '职        位', input_html: { readonly: "readonly", class: "work-position user-input", id: "work_position"} %>
    <%= f.input :started_at, label: '入职时间', input_html: { class: "user-input", id: "beginTime"} %>
    <%= f.input :left_time, label: '离职时间', input_html: { class: "user-input", id: "endTime"} %>
    <%= f.input :job_desc, label: '工作内容', as: :text, input_html: { class: "user-input", id: "job_textarea", placeholder: "最多二百字"} %>
    <%= f.submit "提交", id: "submit", style: "display: none" %>
    <button type="button" name="button" id="btn_save" class="btn btn-info btn-right">提交</button>
    <% end %>

    <div id="datePlugin"></div>
</div>


<%= javascript_include_tag "date" %>
<script type="text/javascript">
    fullScreen('.edit_basic');

    $(function(){
  	$('#beginTime').date();
  	$('#endTime').date();
  });

  // //存在未填框时iOS会有弹窗提示
  // doctorMask("#submit");
  // 防重复点击
  $("#btn_save").on('click',function() {
    EditMask("#btn_save", "请完善信息！");
    // 验证表单
    var form_pattern = function() {
      var name = hos_name("#user_hospital"),
          desc = job_desc("#job_textarea");

      if( name && desc) {
        return true
      }else {
        return false
      }
    }
    if(! form_pattern()) {
      return
    }
    $("#btn_save").css("pointer-events","none");
    $(':submit').trigger('click');
  })

  //职称
  $('.work-position').click(function() {
    this.blur()
    var work_position = ['机构管理人员','综合门诊/全科医生','内科医生','外科医生','专科医生','牙科医生','美容整形师',
    '麻醉医生','放射科医师','理疗师','中医科医生','针灸/推拿','儿科医生','心理医生','营养师','药库主任/药剂师','医药学检验',
    '公共卫生/疾病控制','护理主任/护士长','护士/护理人员','兽医','验光师','其他'];
    var pclass = 'work_position';
    workExperience(work_position, ".work-position", pclass);
  });

</script>
