<% provide :title, "添加工作经历" %>
<% provide :content, "保存" %>

<div class="edit_basic edit-work-experiences work-edit-page">
    <%= simple_form_for :work_experience, as: :post,remote: true, url: webapp_work_experiences_path do |f| %>
    <%= f.input :company, label: "医        院", input_html: { class: "user-input"} %>
    <%= f.input :position, label: '职        位', input_html: { readonly: "readonly", class: "work-position user-input", id: "work_position"} %>
    <%= f.input :started_at, label: '入职时间', input_html: { class: "user-input", id: "beginTime"} %>
    <%= f.input :left_time, label: '离职时间', input_html: { class: "user-input", id: "endTime"} %>
    <%= f.input :job_desc, label: '工作内容', as: :text, input_html: { class: "user-input", placeholder: "最多一千字"} %>
      <%= f.submit id: "submit", class: "btn btn-info btn-right"%>
    <% end %>
    <div id="datePlugin"></div>
</div>


<%= javascript_include_tag "date" %>
<script type="text/javascript">
    fullScreen('.edit_basic');
    clickRignt('#submit');

    $('form').on("ajax:success", function(event, data) {
      alert('ok');
    });

    $(function(){
  	$('#beginTime').date();
  	$('#endTime').date();
    // $('#endTime').date({theme:"datetime"});
  });

  //职称
  $('.work-position').click(function() {
    var work_position = ['医院管理人员','综合门诊/全科医生','内科医生','外科医生','专科医生','牙科医生','美容整形师',
    '麻醉医生','放射科医师','理疗师','中医科医生','针灸/推拿','儿科医生','心理医生','营养师','药库主任/药剂师','医药学检验',
    '公共卫生/疾病控制','护理主任/护士长','护士/护理人员','兽医','验光师','其他'];
    var pclass = 'work_position';
    workExperience(work_position, ".work-position", pclass);
  });

</script>
