<% provide :title, "简历隐私" %>
<script>
  set_back("/webapp/resumes/<%= @resume.id %>")
</script>
<div class="block-hospital">
  <section class="block-btn">
    <div class="block-middle">
      <p class="block-board">公开我的简历</p>
      <% if @resume.public %>
        <div class="right" onclick="addBlock(this)">
           <div class="swich"></div>
        </div>
      <% elsif %>
      <div class="left" onclick="addBlock(this)">
         <div class="swich"></div>
      </div>
      <% end %>
   </div>
  </section>

  <h5>不希望以下机构看到我的简历</h5>

  <section class="block-selet">
    <ul>
      <% @blockhospitals.each do |f| %>
      <li><span><%= f.hospital_name %></span> <%= image_tag "delete.png", onclick: "del(this)", index: f.id %></li>
      <% end %>

      <li><span>添加</span> <a href="<%= new_webapp_block_hospital_path %>"><%= image_tag "add.png" %></a></li>
    </ul>
  </section>

  <!--  弹窗-->
  <div class="model" >
    <div class="model-p">
      <p >设置成功</p>
      <p>已投递简历的公司仍可看到哦</p>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('.right').click(function() {
      $('.swich').animate({  marginLeft: "1.7rem"}, 500);
      $(this).css({'background': '#a3a3a3',});
      $('.model').fadeIn('fast', function() {
        var j = setInterval(function () {
          $('.model').fadeOut('slow');
        },2000);
      })
  });
  $('.left').click(function() {
    $('.swich').animate({  marginLeft: "0px"}, 500);
    $(this).css({'background': '#3a9da0',});
    $('.model').fadeOut('fast', function() {
    });
  });

  // AJAX上传简历是否公开
  function addBlock() {
    var resume_public = '<%= @resume.public %>';
    if( resume_public=='false' ) {
      $.ajax({
        url: "<%= webapp_resume_path(@resume.id) %>",
        type: "PATCH",
        data: {resume_public: true},
        success: function(){
          console.log('已公开简历');
        },
        error: function(){
          alert('公开简历失败');
        },
      })
    }else{
      $.ajax({
        url: "<%= webapp_resume_path(@resume.id) %>",
        type: "PATCH",
        data: {resume_public: false},
        success: function(){
          console.log('已隐藏简历');
        },
        error: function(){
          FailMask('.container','隐藏简历失败')
        },
      })
    }
    var timer = setTimeout(function(){window.location.reload()},500);
  }

// 删除屏蔽机构
  function del(obj) {
    var c_id = $(obj).attr('index');

    $.ajax({
      url: "/webapp/block_hospitals/" + c_id,
      type: 'DELETE',
      success: function() {
        $(obj).parent().remove();
      },
      error: function() {
        alert('删除失败。')
      }
    });
  }

  fullScreen('.block-hospital');

</script>
