<% provide :title, "我的应聘记录" %>
<div class="main my_apply_records">
    <ul class="apply_records">
        <li class="active">
            <a href="#">全部</a>
        </li>
        <li>
            <a href="#">筛选中</a>
        </li>
        <li>
            <a href="#">面试</a>
        </li>
        <li>
            <a href="#">不合适</a>
        </li>
    </ul>
    <div class="nav-bar"></div>
    <div class="nav">
        <div class="tab">
            <ul class="tab-all">
              <div class="content active">
                <% @data.each do |d| %>
                  <% if d[:resume_status]%>
                  <a href="/webapp/apply_records/show/" class="">
                    <li>
                      <div class="left">
                        <h3><%= d[:job_name] %></h3>
                        <p><%= d[:name] %> | <%= d[:salary_range] %></p>
                        <p><%= d[:location] %></p>
                      </div>
                      <div class="right">
                        <h3><%= d[:salary_range] %></h3>
                        <p><%= d[:resume_status] %></p>
                      </div>
                    </li>
                  </a>
                  <% end %>
                <% end  %>
              </div>

              <div class="content">
                <% @data.each do |d| %>
                  <% if d[:resume_status]=="筛选" %>
                    <a href="/webapp/apply_records/show/">
                      <li>
                        <div class="left">
                          <h3><%= d[:job_name] %></h3>
                          <p><%= d[:name] %> | <%= d[:salary_range] %></p>
                          <p><%= d[:location] %></p>
                        </div>
                        <div class="right">
                          <h3><%= d[:salary_range] %></h3>
                          <p><%= d[:resume_status] %></p>
                        </div>
                      </li>
                    </a>
                  <% end %>
                <% end  %>
              </div>

              <div class="content">
                <% @data.each do |d| %>
                  <% if d[:resume_status]=="面试" %>
                    <a href="/webapp/apply_records/show/">
                      <li>
                        <div class="left">
                          <h3><%= d[:job_name] %></h3>
                          <p><%= d[:name] %> | <%= d[:salary_range] %></p>
                          <p><%= d[:location] %></p>
                        </div>
                        <div class="right">
                          <h3><%= d[:salary_range] %></h3>
                          <p><%= d[:resume_status] %></p>
                        </div>
                      </li>
                    </a>
                  <% end %>
                <% end  %>
              </div>

              <div class="content">
                <% @data.each do |d| %>
                  <% if d[:resume_status]=="不合适" %>
                    <a href="/webapp/apply_records/show/">
                      <li>
                        <div class="left">
                          <h3><%= d[:job_name] %></h3>
                          <p><%= d[:name] %> | <%= d[:salary_range] %></p>
                          <p><%= d[:location] %></p>
                        </div>
                        <div class="right">
                          <h3><%= d[:salary_range] %></h3>
                          <p><%= d[:resume_status] %></p>
                        </div>
                      </li>
                    </a>
                  <% end %>
                <% end  %>
              </div>

            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
// $('.nav a').click(function(){
//     $(this).siblings().removeClass('active').addClass('active');
// });
  $('.apply_records li').click(function(event) {
    $(this).addClass('active show');
    $(this).siblings().removeClass('active show');


    var index = $(this).index();
    console.log($('content').eq(index));

    $('.content').eq(index).show().addClass('active').siblings().removeClass('active').hide();
  });

</script>
