<% provide :title, "我的应聘记录" %>
<div class="main my_apply_records">
    <ul class="apply_records">
        <li class="active">
            <a href="#">全部</a>
        </li>
        <li>
            <a href="#">筛选中</a>
        </li>
        <li>
            <a href="#">面试</a>
        </li>
        <li>
            <a href="#">不合适</a>
        </li>
    </ul>
    <div class="nav-bar"></div>
    <div class="nav nav-tab">
        <div class="tab">
            <ul class="tab-all">
              <div class="content active">
                <% @data.each do |d| %>
                  <% if d[:resume_status] %>
                  <a href="/webapp/apply_records/<%= d[:id] %>" onclick="EditNew('<%= d[:has_new] %>',this)" class="record-status" index="<%= d[:id] %>">
                    <li class="job-li">
                      <div class="left">
                        <h3 class="job-name">
                          <%= d[:job_name] %>
                          <% if d[:has_new] %>
                          <%= image_tag "red_point.png"%>
                          <% end %>
                        </h3>
                        <p class="job-time"><%= d[:apply_at].strftime("%Y-%m-%d") if d[:apply_at] %> | <%= d[:location] %></p>
                        <p class="job-hsname"><%= d[:hospital_name] %></p>
                      </div>
                      <div class="right">
                        <h3 class="job-range"><%= d[:salary_range] %></h3>
                        <p class="job-status"><%= d[:resume_status] %></p>
                      </div>
                    </li>
                  </a>
                  <% end %>
                <% end  %>
              </div>

              <div class="content">
                <% @data.each do |d| %>
                  <% if d[:resume_status]=="筛选" %>
                  <a href="/webapp/apply_records/<%= d[:id] %>" class="record-status">
                    <li class="job-li">
                      <div class="left">
                        <h3 class="job-name"><%= d[:job_name] %></h3>
                        <p class="job-time"><%= d[:apply_at].strftime("%Y-%m-%d") if d[:apply_at] %> | <%= d[:location] %></p>
                        <p class="job-hsname"><%= d[:hospital_name] %></p>
                      </div>
                      <div class="right">
                        <h3 class="job-range"><%= d[:salary_range] %></h3>
                        <p class="job-status"><%= d[:resume_status] %></p>
                      </div>
                    </li>
                  </a>
                  <% end %>
                <% end  %>
              </div>

              <div class="content">
                <% @data.each do |d| %>
                  <% if d[:resume_status]=="面试" %>
                  <a href="/webapp/apply_records/<%= d[:id] %>" onclick="EditNew('<%= d[:has_new] %>',this)" class="record-status" index="<%= d[:id] %>">
                    <li class="job-li">
                      <div class="left">
                        <h3 class="job-name">
                          <%= d[:job_name] %>
                          <% if d[:has_new] %>
                          <%= image_tag "red_point.png"%>
                          <% end %>
                        </h3>
                        <p class="job-time"><%= d[:apply_at].strftime("%Y-%m-%d") if d[:apply_at] %> | <%= d[:location] %></p>
                        <p class="job-hsname"><%= d[:hospital_name] %></p>
                      </div>
                      <div class="right">
                        <h3 class="job-range"><%= d[:salary_range] %></h3>
                        <p class="job-status"><%= d[:resume_status] %></p>
                      </div>
                    </li>
                  </a>
                  <% end %>
                <% end  %>
              </div>

              <div class="content">
                <% @data.each do |d| %>
                  <% if d[:resume_status]=="不合适" %>
                  <a href="/webapp/apply_records/<%= d[:id] %>" onclick="EditNew('<%= d[:has_new] %>',this)" class="record-status" index="<%= d[:id] %>">
                    <li class="job-li">
                      <div class="left">
                        <h3 class="job-name">
                          <span><%= d[:job_name] %><span>
                          <% if d[:has_new] %>
                          <%= image_tag "red_point.png"%>
                          <% end %>
                        </h3>
                        <p class="job-time"><%= d[:apply_at].strftime("%Y-%m-%d") if d[:apply_at] %> | <%= d[:location] %></p>
                        <p class="job-hsname"><%= d[:hospital_name] %></p>
                      </div>
                      <div class="right">
                        <h3 class="job-range"><%= d[:salary_range] %></h3>
                        <p class="job-status"><%= d[:resume_status] %></p>
                      </div>
                    </li>
                  </a>
                  <% end %>
                <% end  %>
              </div>

            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    // //医生查看更改has_new
    function EditNew(obj,eve) {
      var has_new = obj;
      var apply_id = $(eve).attr('index');
      if( has_new == 'true' ) {
        $.ajax ({
          url: "/api/v1/employer_resumes",
          type: "PATCH",
          data: {has_new: "false", apply_record_id: apply_id},
          success: function(){
            console.log("刷新has_new成功");
          },
          error: function(){
            console.log("刷新has_new失败");
          },
        })
      }
    }

  $('.apply_records li').click(function(event) {
    $(this).addClass('active show');
    $(this).siblings().removeClass('active show');

    var index = $(this).index();

    $('.content').eq(index).show().addClass('active').siblings().removeClass('active').hide();
  });

</script>
