<%= provide :back %>
<%= provide :title, "我的应聘记录" %>
<div id="apply-bg">
  <section class="position-info apply-info">
    <a href="/webapp/jobs/<%= @apply_record.job_id %>">
      <div class="position-detail record-job record-hh">
        <h3><%=  @apply_record.job_name %><span><%=  @apply_record.salary_range %></span></h3>

        <p><%= @apply_record.created_at.strftime("%Y-%m-%d") %>　|　<%= @apply_record.hospital_region %><span><%= image_tag "list-icon.png" %></span></p>
        <p><%= @hospital.name %></p>
      </div>
    </a>
  </section>

  <section class="apply-status">
    <p>当前状态　<%= @apply_record.resume_status %></p>
  </section>

  <section class="apply-content">
    <div class="apply-stat" id="<%= @apply_status[:css] %>">
      <% if @apply_record.resume_status == "不合适" || @apply_record.resume_status == "面试" %>
      <div class="apply-end">
        <div class="blue-point"></div>
        <time>已结束</time>
        <div>
          <p><%= @apply_record.end_at.strftime("%Y-%m-%d") %></p>
        </div>
      </div>
      <% end %>

      <% if @apply_record.view_at %>
      <div class="apply-view">
        <div class="blue-point"></div>
        <time>查看了你的简历</time>
        <div>
          <p><%= @apply_record.view_at.strftime("%Y-%m-%d") %></p>
        </div>
      </div>　
      <% end %>

      <div class="apply-recieve">
        <div class="blue-point"></div>
        <time>已成功接收你的简历</time>
        <div>
          <p><%= @apply_record.recieve_at.strftime("%Y-%m-%d") %></p>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  // $('')
</script>
