<% provide :title, "编辑期望工作" %>
<% provide :content, "保存"%>

<div class="edit_basic edit-work-experiences edit-expectjob">
  <%= simple_form_for @expect_job, method: :patch,remote: true, url: webapp_expect_job_path(params[:id]) do |e| %>
      <%= e.input :name, label: "职能", input_html: { readonly: "readonly", class: "expect-name job-fair", value: "护士", id: "expect_name"} %>
      <%= e.input :job_type, label: '工作类型', input_html: { readonly: "readonly", class: "expect-type job-fair", value: "全职", id: "expect_type"} %>
      <%= e.input :location, label: '期望城市', input_html: { readonly: "readonly", class: "job-fair", id: "cityChoice", value: "武汉"} %>
      <!-- 城市插件 -->
      <input type="hidden" id="province" value="">
      <input type="hidden" id="city" value="">
      <%= e.input :expected_salary_range, label: '期望薪水', input_html: { readonly: "readonly", class: "expect-range job-fair", value: "5000-6000/月", id: "expect_range"} %>
      <%= e.input :job_desc, label: '补充说明', as: :text, input_html: { class: "user-input", placeholder: "请输入最多1000字"} %>
      <%= e.submit id: "submit", class: "btn btn-info btn-right"%>
<% end %>
</div>


<script type="text/javascript">
    fullScreen('.edit_basic');
    clickRignt('#submit');


   //职能
   $('.expect-name').click(function() {
     var expect_name = ['综合门诊／全科医生','内科医生', '外科医生', '专科医生', '牙科医生', '外科医生', '护士'];
     var pclass = 'expect_name';
     workExperience(expect_name, ".expect-name", pclass);
   });

   //工作类型
   $('.expect-type').click(function() {
     var expect_type = ['全职','兼职', '实习'];
     var pclass = 'expect_type';
     workExperience(expect_type, ".expect-type", pclass);
   });

   //期望薪水
   $('.expect-range').click(function() {
     var expect_range = ['1500以下','2000-5000', '5000-10000', '10000-15000', '15000-25000', '25000-50000', '50000以上'];
     var pclass = 'expect_range';
     workExperience(expect_range, ".expect-range", pclass);
   });

   // 城市插件
       var cityPicker = new IIInsomniaCityPicker({
             data: cityData,
             target: '#cityChoice',
             valType: 'k-v',
             hideCityInput: '#city',
             hideProvinceInput: '#province'
         });

         cityPicker.init();

</script>
