<% provide :title, "编辑期望工作" %>
<% provide :content, "保存"%>

<div class="edit_basic edit-work-experiences edit-expectjob" id="work_eidt">
  <%= simple_form_for @expect_job, method: :patch,remote: true, url: webapp_expect_job_path(params[:id]), id: "formid" do |e| %>
      <%= e.input :name, label: '职        能', input_html: { readonly: "readonly", class: "expect-name job-fair", id: "expect_name", name: "name"} %>
      <%= e.input :job_type, label: '工作类型', input_html: { readonly: "readonly", class: "expect-type job-fair", id: "expect_type",name: "job_type"} %>
      <%= e.input :location, label: '期望城市', input_html: { readonly: "readonly", class: "job-fair", id: "cityChoice", name: "location"} %>
      <!-- 城市插件 -->
      <input type="hidden" id="province" value="">
      <input type="hidden" id="city" value="">
      <%= e.input :expected_salary_range, label: '期望薪水', input_html: { readonly: "readonly", class: "expect-range job-fair", id: "expect_range", name: "expected_salary_range"} %>
      <%= e.input :job_desc, label: '补充说明', as: :text, input_html: { class: "user-input", placeholder: "请输入最多1000字", name: "job_desc"} %>
      <%= e.submit "保存", id: "submit", style: "display: none"%>
      <button type="button" name="button" id="btn_save" class="btn btn-info btn-right">保存</button>
<% end %>
</div>


<script type="text/javascript">
    fullScreen('.edit_basic');
    // 表单验证
    formAll("#work_eidt form");

    $("#btn_save").on('click',function() {
      // 表单验证提示语弹窗
      var timer = setTimeout(function(){
        unvalidAlert();
      },5)

      // 验证表单,失败返回
      if(valid("#work_eidt form")){
        return
      }
      $("#btn_save").css("pointer-events","none");
      $(':submit').trigger('click');
    })

   //职能
   $('.expect-name').click(function() {
     this.blur()
     var expect_name = ['全科医生','内科医生', '外科医生', '专科医生', '牙科医生', '护士'];
     addComponent("#wrap", expect_name, "#expect_name", true);
   });

   //工作类型
   $('.expect-type').click(function() {
     this.blur()
     var expect_type = ['全职','兼职', '实习'];
     addComponent("#wrap", expect_type, '#expect_type')
   });

   //期望薪水
   $('.expect-range').click(function() {
     this.blur()
     var expect_range = ['1500以下','2000-5000', '5000-10000', '10000-15000', '15000-25000', '25000-50000', '50000以上'];
     addComponent("#wrap", expect_range, '#expect_range')
   });

   // 城市插件再次点击删掉原来的
   $("#cityChoice").on('click', function() {
     againClick();
     educationCityText = $("#cityChoice").attr('value');
   })

   // 城市插件
   var cityPicker = new IIInsomniaCityPicker({
         data: cityData,
         target: '#cityChoice',
         valType: 'k-v',
         hideCityInput: '#city',
         hideProvinceInput: '#province',
         callback: function(){
           $("#cityChoice").blur();
           var city = $("#city").val();
           var index = city.indexOf('-');
           city = city.substring(index+1, city.length);
           var num = patch('|', educationCityText);

           function patch(re, s) {
             re = eval("/"+re+"/g");
             var len = s.match(re).length;
             return len;
           }
           console.log(num)
           if(educationCityText && educationCityText != '') {
             if(educationCityText.match(city)) {
               $("#cityChoice").attr('value', educationCityText);
               $("#cityChoice").val(educationCityText);
               return;
             }
             if(num > 8) {
               var index = educationCityText.indexOf('|');
               educationCityText = educationCityText.substring(index+1, educationCityText.length);
               $("#cityChoice").attr('value', educationCityText+'|'+city);
               $("#cityChoice").val(educationCityText+'|'+city);
             }else{
               $("#cityChoice").attr('value', educationCityText+'|'+city);
               $("#cityChoice").val(educationCityText+'|'+city);
             }

           }else{
             $("#cityChoice").attr('value', city);
             $("#cityChoice").val(city);
           }
         }
     });

     cityPicker.init();

</script>
