<% provide :title, "期望工作" %>
<% if User.highest_degree(current_user.id) %>
  <% provide :content, "保存" %>
<% else %>
  <% provide :content, "完成" %>
  <% provide :link, edit_webapp_user_path(:id) %>
<% end %>


<div class="edit_basic edit-work-experiences">
    <%= simple_form_for :user_info, url: webapp_expect_jobs_path,:method => :post do |f| %>
      <%= f.input :name, label: "职能", input_html: { class: "job-fair", value: "护士", id: "name"} %>
      <%= f.input :job_type, label: '工作类型', input_html: { class: "job-fair", value: "全职"} %>
      <%= f.input :location, label: '期望城市', input_html: { class: "job-fair", value: "武汉"} %>
      <%= f.input :expected_salary_range, label: '期望薪水', input_html: { class: "job-fair", value: "5K~6K"} %>
      <%= f.input :job_desc, label: '补充说明', as: :text, input_html: { class: "user-input", placeholder: "最多一千字"} %>
      <%= f.submit id: "submit", class: "btn btn-info btn-right"%>
    <% end %>
</div>


<script type="text/javascript">
  fullScreen('.edit_basic');
  clickRignt('#submit');
  $('.job-fair').click(function() {
    workExperience();
    $(".before-mask").addClass('mask');
    $('.title').text('选择职能');
    $('.right').text('');
  });
</script>
