<% provide :content, "添加" %>
<% provide :link, new_webapp_expect_job_path  %>
<% provide :title, "期望工作" %>
<div class="resume-show work-experience">
  <div class="wrap">
    <% if @expect_job %>

            <section>
              <div class="box education">
                <a href="<%= edit_webapp_expect_job_path(params[:id]) %>" class="edit">编辑</a>
                <div class="work-box">
                  <h3><%= @expect_job.name %></h3>
                  <p>
                    <span><%= @expect_job.job_type %></span>/
                    <span><%= @expect_job.location %></span>/
                    <span><%= @expect_job.expected_salary_range %></span>
                  </p>
                </div>
              </div>
            </section>

    <% end %>
  </div>
</div>

<script type="text/javascript">
    fullScreen('.work-experience');
</script>
