<%= provide :title, "双选会" %>

  <% @fairs.each do |f| %>
  <div class=<%= @fairs.length > 1 ? "fairs-item" : "" %>>
  <div id="hospital_home">
    <div class="fair-image" style='background: url(<%= asset_path(f["banner"]["url"]) %>) no-repeat;background-size: cover'></div>
    <div class="home-bg"></div>
    <div class="home-note">
      <p><%= f["name"] %> 沟通专场</p>
    </div>
  </div>
  <div id="hospital-data">
    <div class="hospital-number">
      <p>本期入驻机构</p>
      <p><span><%= f["hospital_num"] %></span>家</p>
    </div>
    <span></span>
    <div class="hospital-time">
      <p class="time-left-text">距专场结束</p>
      <%= react_component 'TimeLeft', time: f["time_left"] %>
    </div>
  </div>
  <div class="hospital_intro" id="hospital_rule">
    <h2>专场细则</h2>
    <p><%= f["intro"] %></p>
  </div>
  <p class="button">
    <a href='http://yunkang.renaren.org/quick/<%= @cellphone %>'>
      人才测评
    </a>
    <a href='/webapp/job_fairs/<%= f["id"] %>'>
      进入专场
    </a>
  </p>
  </div>
  <% end %>

  <script>
    var p_fair = $('.hospital_intro > p'),
        length = p_fair.length;
    for(var i=0;i<length;i++) {
      var p_text = p_fair.eq(i).text();
      p_fair.eq(i).html(p_text)
    }
  </script>
