<%= provide :title, "广州三甲医院实习医生专场" %>

<% @fair_hospitals.each do |f| %>
<div class="hospital-list">
  <a href="/webapp/jobs/<%= f[:job_id] %>">
    <%= image_tag "hs-1.jpg" %>
    <div class="hospital-bg"></div>
    <div class="hospital-note">
      <h2><%= f[:name] %></h2>
      <p>人投递</p>
      <span>441</span>
    </div>
  </a>
</div>
<% end %>

<!-- <div class="hospital-list">
  <%= image_tag "hs-2.jpg" %>
  <div class="hospital-bg"></div>
  <div class="hospital-note">
    <h2>广州市第二人民医院</h2>
    <p>人投递</p>
    <span>441</span>
  </div>
  <%= link_to "",webapp_hospital_path  %>
</div>

<div class="hospital-list">
  <%= image_tag "hs-3.jpg" %>
  <div class="hospital-bg"></div>
  <div class="hospital-note">
    <h2>广州市第二人民医院</h2>
    <p>人投递</p>
    <span>441</span>
  </div>
  <%= link_to "",webapp_hospital_path %>
</div>

<div class="hospital-list">
  <%= image_tag "hs-4.jpg" %>
  <div class="hospital-bg"></div>
  <div class="hospital-note">
    <h2>广州市第二人民医院</h2>
    <p>人投递</p>
    <span>441</span>
  </div>
  <%= link_to "",webapp_hospital_path %>
</div>

<div class="hospital-list">
  <%= image_tag "hs-1.jpg" %>
  <div class="hospital-bg"></div>
  <div class="hospital-note">
    <h2>广州市第二人民医院</h2>
    <p>人投递</p>
    <span>441</span>
  </div>
  <%= link_to "" , webapp_hospital_path %>
</div> -->
