<% provide :title, "搜索" %>

<div class="search-content">
  <section class="filter-form">
    <form id="submit_form">
      <input id="job_name" type="text" name="name" class="form-control job-name" placeholder="搜索职位/机构" onkeydown="show();" />
      <span class="refress" onClick="submitForm()">搜索</span>
      <ul class="job-condition">
        <li class="expect-city" id="work_city">工作城市<%= image_tag 'icon_39.png' %></li>
        <li class="job-salary">薪资范围<%= image_tag 'icon_39.png' %></li>
        <li>更多筛选<%= image_tag 'icon_39.png' %></li>
      </ul>
      <ul class="salary_range">
        <li index="1500以下">1500以下</li>
        <li index="2000-5000">2000-5000</li>
        <li index="5000-10000">5000-10000</li>
        <li index="10000-15000">10000-15000</li>
        <li index="15000-25000">15000-25000</li>
        <li index="25000-50000">25000-50000</li>
        <li index="50000以上">50000以上</li>
      </ul>
      <input id="cityChoice" type="hidden" name="region" onChange="handleChange()" />
      <!-- 城市插件 -->
      <input type="hidden" id="province" value="">
      <input type="hidden" id="city" value="">
      <input id="job_salary" type="hidden" name="salary_range" onChange="handleChange()" />
      <input id="job_experience" type="hidden" name="experience" />
      <input id="job_degree" type="hidden" name="degree_demand" />
      <input id="job_recruit" type="hidden" name="recruit_type" />
      <input id="job_search" type="hidden" name="search" value="true" />
      <div class="filter-main">
        <div class="job-experience">
          <p>工作经验</p>
          <ul class="experience-part">
            <li index="应届毕业生">应届毕业生</li>
            <li index="1-3年">1-3年</li>
            <li index="3-5年">3-5年</li>
            <li index="5-10年">5-10年</li>
            <li index="10年以上">10年以上</li>
            <li index="经验不限">经验不限</li>
            <li index="">全部</li>
          </ul>
        </div>
        <div class="job-degree">
          <p>学历要求</p>
          <ul class="degree-part">
            <li index="高中">高中</li>
            <li index="大专">大专</li>
            <li index="本科">本科</li>
            <li index="硕士">硕士</li>
            <li index="博士">博士</li>
            <li index="不要求">不要求</li>
            <li index="">全部</li>
          </ul>
        </div>
        <div class="job-recruit">
          <p>招聘类型</p>
          <ul class="recruit-part">
            <li index="全职">全职</li>
            <li index="兼职">兼职</li>
            <li index="实习">实习</li>
            <li index="">全部</li>
          </ul>
        </div>
        <p id="submit_btn" onClick="submitAllForm()">确定</p>
      </div>
    </form>
  </section>

  <section class="job-detail">
  </section>
</div>

<script>
  function show() {
    var e=window.event||arguments.callee.caller.arguments[0];
    if(e.keyCode==13){
      submitForm();
    }
  }

  function handleChange() {
    $('.job-detail').show();
    submitForm();
  }

  function submitAllForm() {
    $('.filter-main').hide();
    $('.job-detail').show();
    submitForm();
    $(".job-condition>li:eq(2)").css('color', '#232323').children('img').attr('src',"<%= image_path('icon_39.png') %>")
  }

  $(".job-condition>li").on('click', function(){
    var index = $(this).index();
    $('.job-detail').hide();
    if(index == 2) {
      $('.filter-main').toggle();
      $(".salary_range").hide();
      $(this).css('color', '#3f9d9f').children('img').attr('src',"<%= image_path('icon_40.png') %>");
      var display = $('.filter-main').css('display');
      if(display == 'none'){
        $('.job-detail').show();
        $(this).css('color', '#232323').children('img').attr('src',"<%= image_path('icon_39.png') %>")
      }
    }else if(index == 1) {
      $(".salary_range").toggle();
      $('.filter-main').hide();
      $(this).css('color', '#3f9d9f').children('img').attr('src',"<%= image_path('icon_40.png') %>");
      var display = $('.salary_range').css('display');
      if(display == 'none'){
        $('.job-detail').show();
        $(this).css('color', '#232323').children('img').attr('src',"<%= image_path('icon_39.png') %>")
      }
    }else {
      $(this).css('color', '#3f9d9f').children('img').attr('src',"<%= image_path('icon_40.png') %>");
    }
  })

  // 城市插件再次点击删掉原来的
  $("#work_city").on('click', function() {
    againClick();
  })

  // 城市插件
  var cityPicker = new IIInsomniaCityPicker({
        data: cityData,
        target: '#work_city',
        valType: 'k-v',
        hideCityInput: '#city',
        hideProvinceInput: '#province',
        callback: function(){
          var city = $("#city").attr('value'),
              index = city.indexOf('-'),
              value = city.substring(index+1, city.length);

          $("#cityChoice").val(value).trigger('change');
          $(".job-condition>li:eq(0)").css('color', '#232323').children('img').attr('src',"<%= image_path('icon_39.png') %>")
        }

    });
    cityPicker.init();

  $(".experience-part > li").on('click', function() {
    $(this).addClass('on').siblings('li').removeClass('on');
    var text = $(this).attr('index');
    $("#job_experience").val(text);
  })

  $(".degree-part > li").on('click', function() {
    $(this).addClass('on').siblings('li').removeClass('on');
    var text = $(this).attr('index');
    $("#job_degree").val(text);
  })

  $(".recruit-part > li").on('click', function() {
    $(this).addClass('on').siblings('li').removeClass('on');
    var text = $(this).attr('index');
    $("#job_recruit").val(text);
  })

  $(".salary_range > li").on('click', function() {
    $(this).addClass('focus').siblings('li').removeClass('focus');
    var text = $(this).attr('index');
    $("#job_salary").val(text).trigger('change');
    $(this).parent().hide();
    $(".job-condition>li:eq(1)").css('color', '#232323').children('img').attr('src',"<%= image_path('icon_39.png') %>")
  })

  // 提交表单
  function submitForm() {
    var search = $("#job_search").val(),
        name = $("#job_name").val(),
        region = $("#cityChoice").val(),
        salary_range = $("#job_salary").val(),
        experience = $("#job_experience").val(),
        degree_demand = $("#job_degree").val(),
        recruit_type = $("#job_recruit").val();

    $.ajax({
      url: "/webapp/searchs",
      type: "GET",
      data: {
        search: search,
        name: name,
        region: region,
        salary_range: salary_range,
        experience: experience,
        degree_demand: degree_demand,
        recruit_type: recruit_type
      },
      success: function(data) {
        var jobs = data.jobs,
            section = document.getElementsByTagName('section')[1];

        $('.job-detail').children().remove();
        if(jobs.length == 0){
          var div = document.createElement('div');
          div.innerHTML = "暂无搜索结果";
          div.className = "result"
          section.appendChild(div);
          $('.job-condition').show();
          return;
        }
        for(var index in jobs) {
          var j = jobs[index]
          var div = document.createElement('div');
          div.innerHTML = '<a href="/webapp/jobs/'+j.id+'">'+'<div class="job"><div class="title"><div class="left job-name">'+
                        j.job_name+'</div><div class="right right-range">'+j.salary_range+'/月</div><div style="clear:both"></div></div><div class="detail"><div class="left">'+
                        j.hospital_name+'</div><div class="right">'+j.region+'</div><div style="clear:both"></div></div></div></a>';
          section.appendChild(div);
        }
        $('.job-condition').show();
      },
      error: function() {
        console.log("搜索失败");
      }
    })
  }
</script>
