<%= provide :title, "职位编辑" %>
<%= provide :content, "保存" %>
<div id="job_basic">
	<p class="basic_info">职位基本信息<%= image_tag "icon_36.png" %></p>
    <%= simple_form_for :job, method: :patch, remote: true, id: "submzit_form", url: employer_job_path(params[:id]) do |f| %>
		<div class="job-pubilc">
			<%= f.input :name, label: "职位名称", input_html: { class: "job-frist" ,id:"job_frist"} %>
			<span class="empty-cont" onclick="EmptyCont('job_frist')"></span>
		</div>
    <%= f.input :job_type, label: '职位类型', input_html: { readonly: "readonly", class: "job-type", id: "job_type"} %>
    <%= f.input :salary_range, label: '薪资', input_html: { class: "job-range", id: "job_range"} %>
    <%= f.input :experience, label: '经验要求', input_html: { class: "job-experience", id: "job_experience"} %>
		<div class="job-pubilc">
			<%= f.input :needed_number, label: '招聘人数', input_html: { class: "job-frist", id: "job_number"} %>
			<span class="empty-cont" onclick="EmptyCont('job_number')"></span>
		</div>
    <%= f.input :region, label: '工作地区', input_html: { class: "", id: "job_region"} %>
    <!-- 城市插件需要用到 -->
    <input type="hidden" id="province" value="">
    <input type="hidden" id="city" value="">
		<div class="job-pubilc">
			<%= f.input :location, label: '详细地址', input_html: { class: "job-frist", id: "job_location"} %>
			<span class="empty-cont" onclick="EmptyCont('job_location')"></span>
		</div>
    <div class="job-vip">
	    <%= f.input :is_top, label: 'VIP置顶', input_html: { class: "job-top", id: ""}%>
	    <div class="job-slider">
	    	<div class="job-slider-inner"></div>
	    </div>
    </div>
		<div class="job-endtime">
        <%= f.input :duration, label: '发布期限', input_html: { readonly: 'readonly', class: 'job-date' } %>
        <span class="job-end" id="job_end">剩余<%= @job_end_at %>天</span>
    </div>
    <p class="basic_info">职位描述<%= image_tag "icon_36.png" %></p>
    <%= f.input :job_desc, label: '', as: :text, input_html: { class: "", placeholder: "描述职责范围／工作任务等"} %>
    <p class="basic_info">任职资格<%= image_tag "icon_36.png" %></p>
    <%= f.input :job_demand, label: '', as: :text, input_html: { class: "", placeholder: "资格要求"} %>
    <%= f.input :status, label: '状态', as: :hidden, input_html: { class: "", id: "job_status"} %>
    <%= f.submit id: "submit", class: ""%>
    <div class="btn-sright"></div>
    <% end %>

</div>
<script type="text/javascript">
	// 返回顶部
	$("#job_region").bind('click',function(){
		var height = $('body').height();
		var timer = setTimeout(function(){$('body').scrollTop(height)},1)
	})

	// reviewing pause 两种状态下更改名称和描述都要重新审核
	$(function(){
		var job_name_1 = "<%= @job.name %>";
		var job_desc_1 = "<%= @job.job_desc %>";
		var job_demand_1 = "<%= @job.job_demand %>";
		var job_satus = "<%= @job.status %>";
		$('.btn-sright').bind('click',function(){
			if(job_satus == 'reviewing' || job_satus == 'pause'){
				var job_name_2 = $('.form-group:eq(0)').children('input').val();
				var job_desc_2 = $('.form-group:eq(9)').children('textarea').val();
				var job_demand_2 = $('.form-group:eq(10)').children('textarea').val();
				if(job_name_1==job_name_2 && job_desc_1==job_desc_2 && job_demand_1==job_demand_2) {
					$('#submit').trigger('click');
				}else{
					$('#job_status').attr('value','reviewing');
					$('#submit').trigger('click');
				};
			}else{
				$('#submit').trigger('click');
			};
		});
	});

	//6.24 VIP置顶栏的滑动条 Huangwei
	$(function(){
		var status = "<%= @job.is_top %>";
		console.log(status);
		if(status == "false"){
			$('.job-slider-inner').css('margin-left','0.1rem');
			$('.job-slider').css({'background':'#f4f4f4','margin-left':'#fff'});
			$('.job-top').attr('value', 0);
		}else{
			$('.job-slider-inner').css('margin-left','1.4rem');//利用margin值来移动
			$('.job-slider').css({'background':'#3f9e9f','margin-left':'#fff'});
			$('.job-top').attr('value', 1);
		}
	})

	$('.job-slider').on('click',function () {
		// 编辑页面不可编辑置顶
		FailMask('.wrap','置顶状态不可修改！');
	})

  // 职位类型
  $('.job-type').click(function() {
		this.blur()
    var job_type = ['机构管理人员','综合门诊/全科医生','内科医生','外科医生','专科医生','牙科医生','美容整形师',
    '麻醉医生','放射科医师','理疗师','中医科医生','针灸/推拿','儿科医生','心理医生','营养师','药库主任/药剂师','医药学检验',
    '公共卫生/疾病控制','护理主任/护士长','护士/护理人员','兽医','验光师','其他'];
    var pclass = 'job_type';
    JobBasicNew(job_type, ".job-type", pclass);
  });

  // 薪资
  $('.job-range').click(function() {
		this.blur()
    var job_range = ['1500以下','2000-5000', '5000-10000', '10000-15000', '15000-25000', '25000-50000', '50000以上'];
    var pclass = 'job_range';
    JobBasicNew(job_range, ".job-range", pclass);
  });

  // 职位类型
  $('.job-experience').click(function() {
		this.blur()
    var job_experience = ['在读学生','应届毕业生', '1年', '2年', '3-4年', '5-7年', '10年以上'];
    var pclass = 'job_experience';
    JobBasicNew(job_experience, ".job-experience", pclass);
  });

 // 城市插件
  var cityPicker = new IIInsomniaCityPicker({
        data: cityData,
        target: '#job_region',
        valType: 'k-v',
        hideCityInput: '#city',
        hideProvinceInput: '#province'
    });
  cityPicker.init();

	$('.job-date').click(function() {
		this.blur()
		FailMask('.wrap', '发布期限不可修改。')
	})
</script>
