<script>
  refreshOnce()
</script>

<script type="text/javascript">
  var getStatus = function(status) {
    // status=="release";
    if(status=="release"){
      status = "发布中";
    };
    if(status=="reviewing"){
      status = "审核中";
    };
    if(status=="freeze"){
      status = "冻结中";
    };
    if(status=="pause"){
      status = "暂停发布";
    };
    if(status=="end"){
      status = "结束发布";
    };
    if(status=="saved"){
      status = "已保存";
    };
    if(status=="fail"){
      status = "审核拒绝";
    };
    // return(status);
    document.write(status);
  }


  // 筛选弹框
  $(function(){
    $('.job-nav>span').bind('click',function(){
      $('.job-status').toggle();
    });
  })

  // 筛选不同的Jod状态
  function JobScreen(li_id,li_class){
    var text = $('#'+li_id).text();
    $('#'+li_id).css('color','#3f9d9f').siblings().css('color','#000');
    $('span.nav-img>span').text(text);
    $('#'+li_id).parent().parent().css('display','none');
    $('.sort-content').css('display','block').siblings().css('display','none');
    $('.'+li_class).css('display','block');
    $('.sort-content li').not('.'+li_class).css('display','none');
  }
  // 显示全部
  function JobShowAll(obj){
    var text = $(obj).text();
    $(obj).css('color','#3f9d9f').siblings().css('color','#000');
    $('span.nav-img>span').text(text);
    $('ul.show-all').css('display','block').siblings('ul').css('display','none');
    $(obj).parent().parent().css('display','none');
  }
</script>

<%= provide :title, "职位管理" %>
<%= provide :content,  image_tag('add-white.png') %>
<%= provide :link, "/employer/jobs/new" %>
<%= provide :img_left, "home.png" %>
<%= provide :back, '/employer/home' %>

<div id="job_content">
  <div class="job-nav">
    <span class="nav-img"><%= image_tag "icon_28.png" %><span>全部</span></span>
    <%= image_tag "refresh.png", class: "refresh" %>
    <%= link_to image_tag('add-blue.png'), "/employer/jobs/new", class: "new-job" %>
  </div>
  <!-- 条件筛选 -->
  <div class="job-status">
    <!-- 蒙层 -->
    <div class="after-mask"></div>
    <ul>
      <li onclick="JobShowAll(this)">全部</li>
      <li id="job_release" onclick="JobScreen('job_release','job-release')">发布中</li>
      <li id="job_end" onclick="JobScreen('job_end','job-end')">发布结束</li>
      <li id="job_pause" onclick="JobScreen('job_pause','job-pause')">暂停发布</li>
      <li id="job_reviewing" onclick="JobScreen('job_reviewing','job-reviewing')">审核中</li>
      <li id="job_fail" onclick="JobScreen('job_fail','job-fail')">审核拒绝</li>
      <li id="job_saved" onclick="JobScreen('job_saved','job-saved')">已保存</li>
      <li id="job_freeze" onclick="JobScreen('job_freeze','job-freeze')">冻结中</li>
    </ul>
  </div>

  <!-- 职位状态排序 -->
  <div class="job-sort">
    <!-- 刚进入时全部展示，按某种条件排序，待探讨 -->
    <ul class="show-all">
        <% @jobs.each do |j| %>
          <li class="job-release show-freeze">
            <a href="<%= employer_job_path(j.id) %>" onclick= "EditUpdate('<%= j.is_update %>',this)" index="<%= j.id %>">
              <div class="name-box">
                <h4><%= j.name %></h4>
                <span><%= j.region %></span>
                <p><%= j.created_at.strftime("%Y-%m-%d") %> 至 <%= j.end_at ? j.end_at.strftime("%Y-%m-%d") : '----' %></p>
              </div>

              <div class="status-box">
                <% if j.status == "reviewing" %>
                  <span class="reviewing-ban" style="color:#c2c2c2;"><script>getStatus("<%= j.status %>");</script></span>
                <% elsif j.status == "freeze" %>
                <span class="reviewing-ban" style="color:#c2c2c2;"><script>getStatus("<%= j.status %>");</script></span>
                <% else %>
                  <span>
                    <script>getStatus("<%= j.status %>");</script>
                    <% if j.status == "release" && j.is_update %>
                    <%= image_tag "red_point.png" %>
                    <% end %>
                  </span>
                <% end %>
                <%= image_tag "list-icon.png" %>
              </div>
            </a>
          </li>
        <% end %>
    </ul>

    <!-- 条件筛选后展示的内容 -->
    <ul class="sort-content">
      <% @jobs.each do |j| %>
          <!-- 发布中 -->
        <% if j['status'] == "release" %>
          <li class="job-release">
            <a href="<%= employer_job_path(j.id) %>" onclick= "EditUpdate('<%= j.is_update %>',this)" index="<%= j.id %>">
              <div class="name-box">
                <h4>
                  <%= j.name %>
                </h4>
                <span><%= j.region %></span>
                <p><%= j.created_at.strftime("%Y-%m-%d") %> 至 <%= j.end_at ? j.end_at.strftime("%Y-%m-%d") : '----' %></p>
              </div>

              <div class="status-box">
                <span>
                  <script>getStatus("<%= j.status %>");</script>
                  <% if j.status == "release" && j.is_update %>
                  <%= image_tag "red_point.png" %>
                  <% end %>
                </span>
                <%= image_tag "list-icon.png",width: "10", height: "15" %>
              </div>
            </a>
          </li>
        <% end %>

        <!-- 审核中 -->
        <% if j.status == "reviewing" %>
          <li class="job-reviewing ban-click">
            <a href="<%= employer_job_path(j.id) %>">
              <div class="name-box">
                <h4><%= j.name %></h4>
                <span><%= j.region %></span>
                <p><%= j.created_at.strftime("%Y-%m-%d") %> 至 <%= j.end_at ? j.end_at.strftime("%Y-%m-%d") : '----' %></p>
              </div>

              <div class="status-box">
                <span style="color:#c2c2c2;"><script>getStatus("<%= j.status %>");</script></span>
                <%= image_tag "list-icon.png",width: "10", height: "15" %>
              </div>
            </a>
          </li>
        <% end %>

        <!-- 冻结中 -->
        <% if j.status == "freeze" %>
          <li class="job-freeze ban-click">
            <a href="javascript:void(0);">
              <div class="name-box">
                <h4><%= j.name %></h4>
                <span><%= j.region %></span>
                <p><%= j.created_at.strftime("%Y-%m-%d") %> 至 <%= j.end_at ? j.end_at.strftime("%Y-%m-%d") : '----' %></p>
              </div>

              <div class="status-box">
                <span style="color:#c2c2c2;"><script>getStatus("<%= j.status %>");</script></span>
                <%= image_tag "list-icon.png",width: "10", height: "15" %>
              </div>
            </a>
          </li>
        <% end %>

        <!-- 暂停发布 -->
        <% if j.status == "pause" %>
          <li class="job-pause">
            <a href="<%= employer_job_path(j.id) %>">
              <div class="name-box">
                <h4><%= j.name %></h4>
                <span><%= j.region %></span>
                <p><%= j.created_at.strftime("%Y-%m-%d") %> 至 <%= j.end_at ? j.end_at.strftime("%Y-%m-%d") : '----' %></p>
              </div>

              <div class="status-box">
                <span><script>getStatus("<%= j.status %>");</script></span>
                <%= image_tag "list-icon.png",width: "10", height: "15" %>
              </div>
            </a>
          </li>
        <% end %>

        <!-- 结束发布 -->
        <% if j.status == "end" %>
          <li class="job-end">
            <a href="<%= employer_job_path(j.id) %>">
              <div class="name-box">
                <h4><%= j.name %></h4>
                <span><%= j.region %></span>
                <p><%= j.created_at.strftime("%Y-%m-%d") %> 至 <%= j.end_at ? j.end_at.strftime("%Y-%m-%d") : '----' %></p>
              </div>

              <div class="status-box">
                <span><script>getStatus("<%= j.status %>");</script></span>
                <%= image_tag "list-icon.png",width: "10", height: "15" %>
              </div>
            </a>
          </li>
        <% end %>

        <!-- 已保存 -->
        <% if j.status == "saved" %>
          <li class="job-saved">
            <a href="<%= employer_job_path(j.id) %>">
              <div class="name-box">
                <h4><%= j.name %></h4>
                <span><%= j.region %></span>
                <p><%= j.created_at.strftime("%Y-%m-%d") %> 至 <%= j.end_at ? j.end_at.strftime("%Y-%m-%d") : '----' %></p>
              </div>

              <div class="status-box">
                <span><script>getStatus("<%= j.status %>");</script></span>
                <%= image_tag "list-icon.png",width: "10", height: "15" %>
              </div>
            </a>
          </li>
        <% end %>

        <!-- 审核拒绝 -->
        <% if j.status == "fail" %>
          <li class="job-fail">
            <a href="<%= employer_job_path(j.id) %>">
              <div class="name-box">
                <h4><%= j.name %></h4>
                <span><%= j.region %></span>
                <p><%= j.created_at.strftime("%Y-%m-%d") %> 至 <%= j.end_at ? j.end_at.strftime("%Y-%m-%d") : '----' %></p>
              </div>

              <div class="status-box">
                <span><script>getStatus("<%= j.status %>");</script></span>
                <%= image_tag "list-icon.png",width: "10", height: "15" %>
              </div>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<%= render '/layouts/employer_footer' %>
<script>
  //医院查看更改is_update
  function EditUpdate(obj,eve) {
    var is_update = obj;
    var job_id = $(eve).attr('index');
    if( is_update == 'true' ) {
      $.ajax ({
        url: "<%= view_update_api_employer_jobs_path %>",
        type: "PATCH",
        data: {is_update: 'false', job_id: job_id},
        success: function(){
          console.log("刷新is_update成功");
        },
        error: function(){
          console.log("刷新is_update失败");
        },
      });
    };
  }

  //刷新本页面
  $('.job-nav>img').bind('click',function(){
    window.location.reload();
  })

  //禁止点击审核中的职位
  $('.reviewing-ban').parent().parent().attr('href','javascript:void(0);');
  $('.ban-click>a').attr('href','javascript:void(0);');

   // 底部按钮样式
   ReplayImg(1,'../assets/icon_03.png');

   // 设定返回按钮，默认返回 home，set_back('my_url') 返回 my_url
   $(set_back())
</script>
