<script>
  $(set_back())
</script>

<%= provide :title, "添加职位基本信息" %>
<div id="job_basic">
    <%= simple_form_for :job, method: :post, remote: true, id: "submit_form", url: employer_jobs_path do |f| %>
    <p class="basic_infoo">任职资格<%= image_tag "icon_36.png" %></p>
    <div class="job-pubilc">
      <%= f.input :name, label: "职位名称", input_html: { class: "job-frist_new", id: "job_frist", name: "name"} %>
			<span class="empty-cont" onclick="EmptyCont('job_frist')"></span>
		</div>
    <%= f.input :job_type, label: '职位类型', input_html: { readonly: "readonly", class: "job-type", id: "job_type", name: "job_type"} %>
    <%= f.input :salary_range, label: '薪        资', input_html: { readonly: 'readonly', class: "job-range", id: "job_range", name: "salary_range"} %>
    <%= f.input :experience, label: '经验要求', input_html: { readonly: 'readonly', class: "job-experience", id: "job_experience", name: "experience"} %>
    <div class="job-pubilc">
      <%= f.input :needed_number, label: '招聘人数', input_html: { class: "job-frist_new", id: "job_number", name: "needed_number"} %>
			<span class="empty-cont" onclick="EmptyCont('job_number')"></span>
		</div>
    <%= f.input :region, label: '工作地区', input_html: { readonly: 'readonly', class: "", id: "job_region", name: "region"} %>
    <!-- 城市插件需要用到 -->
    <input type="hidden" id="province" value="">
    <input type="hidden" id="city" value="">
    <div class="job-pubilc">
      <%= f.input :location, label: '详细地址', input_html: { class: "job-frist_new", id: "job_location", name: "location"} %>
			<span class="empty-cont" onclick="EmptyCont('job_location')"></span>
		</div>
    <div class="job-vip">
      <%= f.input :is_top, label: 'VIP置顶', input_html: { value: false, class: "job-top", id: "", name: "is_top"} %>
      <div class="job-slider">
      	<div class="job-slider-inner"></div>
      </div>
    </div>
    <div class="job-endtime">
        <%= f.input :duration, label: '发布期限', input_html: { value: "15", readonly: 'readonly', class: 'job-date', name: "duration" } %>
        <span class="job-end" id="job_end">半个月</span>
    </div>
    <p class="basic_infoo">职位描述<%= image_tag "icon_36.png" %></p>
    <%= f.input :job_desc, label: '', as: :text, input_html: { class: "", placeholder: "描述职责范围／工作任务等", name: "job_desc"} %>
    <p class="basic_infoo">任职资格<%= image_tag "icon_36.png" %></p>
    <%= f.input :job_demand, label: '', as: :text, input_html: {id:"job_demand", placeholder: "资格要求", name: "job_demand"} %>

    <%= f.input :status, label: '状态', as: :hidden, input_html: { class: "", id: "job_status", name: "status"} %>
    <%= f.submit id: "submit", class: ""%>
    <div class="btn-status">
      <button type="button" name="button" id="save_form">仅保存</button>
      <button type="button" name="button" id="sub_btn">保存并提交审核</button>
    </div>
    <% end %>

</div>
<script type="text/javascript">
  // 表单验证
  formAll("form");

  // 返回顶部
  $("#job_region").bind('click',function(){
    var height = $('body').height();
    var timer = setTimeout(function(){$('body').scrollTop(height)},1)
  })

  //6.24 VIP置顶栏的滑动条 Huangwei
  $('.job-slider').on('click',function () {
    if ($(this).css('background-color')=='rgb(244, 244, 244)') {//根据背景色判断，并移动和改变颜色样式
      $('.job-slider-inner').css('margin-left','1.4rem');//利用margin值来移动
        $(this).css('background','#3f9e9f');
        $('.job-slider').css('margin-left','#fff');
        // value值
        $('.job-top').attr('value', true);
    } else{
        $('.job-slider-inner').css('margin-left','0.1rem');
        $(this).css('background','#f4f4f4');
        $('.job-slider').css('margin-left','#fff');
        // value值
        $('.job-top').attr('value', false);
    }
  })

  // 按钮提交表单
  $(function(){
    $('.btn-status>button').bind('click',function(){
      var vip_status = "<%= @vip_status['may_release'] %>";
      var index = $(this).index();
      EditMask(".wrap", "请完善信息!");

      // 验证表单,失败返回
      if(valid("form")){
        return
      }

      if(index==0) {
        $('#job_status').attr('value','saved');
        $('#submit').trigger('click');
        $(".btn-status>button").css('pointer-events', 'none');
      } else {
        if(vip_status == 'false') {
          var mask_fail = $('.mask-fail').length
          if(mask_fail != 0) {
            $('.mask-fail').remove();
          }
          againRelease('.wrap','您的可发布职位数已满，若想发布更多，请购买VIP');
        } else {
          $('#job_status').attr('value','reviewing');
          $('#submit').trigger('click');
          $(".btn-status>button").css('pointer-events', 'none');
        }
      }
    });
  })

  // 职位类型
  $('.job-type').click(function() {
    this.blur()
    var job_type = ['机构管理人员','综合门诊/全科医生','内科医生','外科医生','专科医生','牙科医生','美容整形师',
    '麻醉医生','放射科医师','理疗师','中医科医生','针灸/推拿','儿科医生','心理医生','营养师','药库主任/药剂师','医药学检验',
    '公共卫生/疾病控制','护理主任/护士长','护士/护理人员','兽医','验光师','其他'];
    var pclass = 'job_type';
    JobBasicNew(job_type, ".job-type", pclass);
  });

  // 薪资
  $('.job-range').click(function() {
    this.blur()
    var job_range = ['1500以下','2000-5000', '5000-10000', '10000-15000', '15000-25000', '25000-50000', '50000以上'];
    var pclass = 'job_range';
    JobBasicNew(job_range, ".job-range", pclass);
  });

  // 职位类型
  $('.job-experience').click(function() {
    this.blur()
    var job_experience = ['在读学生','应届毕业生', '1年', '2年', '3-4年', '5-7年', '10年以上'];
    var pclass = 'job_experience';
    JobBasicNew(job_experience, ".job-experience", pclass);
  });

  // 发布期限
  $('.job-end').click(function() {
    this.blur()
    var job_end = ['１星期','２星期', '半个月', '１个月', '２个月', '３个月'];
    var pclass = 'job_end';
    JobBasicNew(job_end, ".job-end", pclass);
  });

 // 城市插件
  var cityPicker = new IIInsomniaCityPicker({
        data: cityData,
        target: '#job_region',
        valType: 'k-v',
        hideCityInput: '#city',
        hideProvinceInput: '#province',
        callback: function(){
          $("#job_region").blur();
        }
    });
  cityPicker.init();

</script>
