<%= provide :title, @job.name %>

<% if @job.status != 'release' %>
<%= provide :content, '编辑' %>
<%= provide :link, edit_employer_job_path(params[:id]) %>
<% end %>
<div id="job_show">

  <% if @job.operate_at && @job.status == 'release' %>
    <div class="job-time">
      发布日期:
      <span><%= @job.operate_at.strftime("%Y-%m-%d") %></span>
      (剩余<%= @time_left %>天到期)
    </div>
  <% end %>

  <section class="job-detail">
    <div class="job-introduce">
      <h3><%= @job.name %><span><%= @seeker_count %>人投递过简历</span></h3>
      <p><%= @job.salary_range %>/月</p>
      <ul>
        <li><span>医院     </span><%= @hospital.name %></li>
        <li><span>性质     </span><%= @hospital.property %><span class="job-scale">规模</span><%= @hospital.scale %>人</li>
        <li><span>地区     </span><%= @job.region %><span class="job-number">人数</span><%= @job.needed_number %>人</li>
        <li><span>经验要求</span><span class="job-exprience"></span><%= @job.needed_number %>年</li>
      </ul>
    </div>
    <div class="job-place"><a href="#"><span>工作地点</span><%= @job.location %><%= image_tag "jobright.png" %></a></div>

    <!-- 刷新简历 -->
    <% if @job.status == "release" %>
      <div class="reflesh-job" style="background:yellow;height:50px;">
        <%= image_tag "icon_1.png" %>
        <span>刷新职位</span>
      </div>
      <p class="reflesh-time"><%= @left_refresh_time %>天后可再次刷新</p>
      <script type="text/javascript">
          //  reflesh_time 值不同显示不同
          var reflesh_time = "<%= @left_refresh_time %>";
          if(reflesh_time == -1) {
            $('.reflesh-job').css('display','block').siblings('p.reflesh-time')
                                                    .css('display','none');
          }else{
            $('.reflesh-time').css('display','block').siblings('div.reflesh-job')
                                                     .css('display','none');
          }
      </script>
    <% end %>
  </section>


  <script type="text/javascript">
    $('.reflesh-job').bind('click',function(){
      $.ajax({
        url: "<%= api_employer_jobs_path %>",
        type: "PATCH",
        data: {refresh_at: "<%= @job.refresh_at %>",
               job_id: "<%= @job.id %>"
             },
        success: function(){
          $('.reflesh-time').html('7天后可再次刷新')
          $('.reflesh-time').css('display','block').siblings('div.reflesh-job')
                                                   .css('display','none');
        },
        error: function(){
          alert('刷新失败');
        },
      });
    })
  </script>

  <section class="job-right">
    <div class="job-descripte">
      <h2>职位描述</h2>
      <h3>职责说明</h3>
      <p><%= @job.job_desc %></p>
      <h3 class="job-post">任职资格</h3>
      <p><%= @job.job_demand %></p>
    </div>
  </section>

</div>

  <div class="btn-bottom-box">
    <div class="pause-box btn-bottom">
      <div id="postPause" class="<%= @job_sate[:status] %>" onclick="postPause(this)">
        <%= image_tag "icon_20.png" %>
        <%= @btn_txt[:pause] %>
      </div>
    </div>

    <div class="release-box btn-bottom">
      <div id="release" class="<%= @job_sate[:status] %>" onclick="release(this)">
        <%= image_tag "icon_21.png" %>
        <span><%= @btn_txt[:release] %></span>
      </div>
    </div>

    <div class="end-box btn-bottom">
      <div id="end" class="<%= @job_sate[:status] %>" onclick="end(this)">
        <%= image_tag "icon_22.png" %>
        <%= @btn_txt[:end] %>
      </div>
    </div>
  </div>


<script type="text/javascript">
  // 暂停按钮
  function postPause(obj) {
    confirm('确定暂停？')
    if($(obj).attr("class") == "release") {
      $.ajax({
        url: '<%= api_employer_jobs_path %>',
        type: 'PATCH',
        data: {"job_id":"<%= @job[:id] %>", "status": "pause"},
        success: function() {
          set_class('pause');
          $('#release span').text("再次发布")
          $('#postPause').off();
        },
        error: function() {
          alert('暂停失败。')
        }
      });
    } else {
      alert("当前无法暂停");
    }
  };

  // 再次发布按钮
  function release(obj) {
    // 当值为再次发布时点击判断may_release
    var vip_status = "<%= @vip_status['may_release'] %>"
    var button_text = $(obj).text();

    if(button_text == '再次发布' && vip_status == 'false') {
      alert('您的可发布职位数已满，若想发布更多，请购买VIP');
      return;
    }
    confirm('确定提交？')
    // 当值为再次发布时点击判断may_release
    if(["pause", "end", "saved", "fail"].indexOf($(obj).attr("class")) != -1 ) {
      var status = '',
          btn_txt = '',
          btn_class = '',
          duration = ''

      if($(obj).attr("class") == 'pause') {
         status = 'release'
         btn_txt = "已经发布"
         btn_class = 'release'
      } else if($(obj).attr("class") == 'end') {
        status = 'release_again'
        btn_txt = "已经发布"
        btn_class = 'release'
        duration = "<%= @job[:duration] %>"
      } else {
        status = 'reviewing'
        btn_txt = "等待审核"
        btn_class = 'reviewing'
      }

      $.ajax({
        url: '<%= api_employer_jobs_path %>',
        type: 'PATCH',
        data: {"job_id":"<%= @job[:id] %>", "status": status, "duration": duration},
        success: function() {
          $('#release span').text(btn_txt)
          set_class(btn_class);
          $('#release').off();
        },
        error: function() {
          alert('操作失败。')
        }
      });
    } else {
      alert("当前无法执行此操作");
    }
  };

  // 结束发布按钮
    function end(obj) {
      confirm('确定结束发布此职位？')

      if(["release", "pause"].indexOf($(obj).attr("class")) != -1 ) {
        $.ajax({
          url: '<%= api_employer_jobs_path %>',
          type: 'PATCH',
          data: {"job_id":"<%= @job[:id] %>", "status": "end"},
          success: function() {
            $('#release span').text("再次发布")
            set_class('end');
            $('#end').off();
          },
          error: function() {
            alert('结束发布失败。')
          }
        });
      } else if(["saved", "fail"].indexOf($(obj).attr("class")) != -1) {
        $.ajax({
          url: '<%= api_employer_jobs_path %>',
          type: 'DELETE',
          data: {id: "<%= @job[:id] %>"},
          success: function() {
            console.log('删除成功！');
          },
          error: function() {
            alert('删除失败。')
          }
        });
      } else {
        alert("当前无法执行此操作");
      }
    };

    // 同时设置三个按钮状态
    function set_class(name) {
        $('#end').attr('class', name);
        $('#release').attr('class', name);
        $('#postPause').attr('class', name);
    }

</script>
