<div id="job_show">
  <div class="job-time">
    发布日期:
    <span><%= @job.release_at.strftime("%Y-%m-%d") %></span>
    (剩余<%= @time_left %>天到期)
  </div>

  <section class="job-detail">
    <div class="job-introduce">
      <h3><%= @job.name %><span><%= @seeker_count %>人投递过简历</span></h3>
      <p><%= @job.salary_range %>/月</p>
      <ul>
        <li><span>医院</span><%= @hospital.name %></li>
        <li><span>性质</span><%= @hospital.property %><span class="job-scale">规模</span><%= @hospital.scale %>人</li>
        <li><span>地区</span><%= @job.region %><span class="job-number">人数</span><%= @job.needed_number %>人</li>
      </ul>
    </div>
    <div class="job-place"><a href="#"><span>工作地点</span><%= @job.location %><i><%= image_tag "jobright.png" %></i></a></div>

    <!-- 刷新简历 -->
    <div class="reflesh-job" style="background:yellow;height:50px;">
      <%= image_tag "icon_1.png" %>
      <span>刷新职位</span>
    </div>
  </section>

  <section class="job-right">
    <div class="job-descripte">
      <h2>职位描述</h2>
      <h3>职责说明</h3>
      <p><%= @job.job_desc %></p>
      <h3 class="job-post">任职资格</h3>
      <p><%= @job.job_demand %></p>
    </div>
  </section>

</div>

<!-- 待改写 -->
<%# react_component 'PauseBtn', {job: @job_sate} %>
<div class="pause-box">
  <button type="button" id="postPause" class="<%= @job_sate[:status] %>" onclick="postPause(this)"><%= @btn_txt[:pause] %></button>
</div>

<div class="release-box">
  <button type="button" id="release" class="<%= @job_sate[:status] %>" onclick="release(this)"><%= @btn_txt[:release] %></button>
</div>

<div class="end-box">
  <button type="button" id="end" class="<%= @job_sate[:status] %>" onclick="end(this)"><%= @btn_txt[:end] %></button>
</div>

<!-- <script type="text/javascript">
  var left_refresh_time = "<%= @left_refresh_time %>";
  console.log(left_refresh_time);
  if(left_refresh_time == -1) {
    $('.reflesh-job').children().remove();
  }
</script> -->

<script type="text/javascript">
// 暂停按钮
  function postPause(obj) {
    if($(obj).attr("class") == "release") {
      $.ajax({
        url: '<%= api_employer_jobs_path %>',
        type: 'PATCH',
        data: {"job_id":"<%= @job[:id] %>", "status": "pause"},
        success: function() {
          set_class('pause');
          $('#postPause').off();
        },
        error: function() {
          alert('暂停失败。')
        }
      });
    } else {
      alert("当前无法暂停");
    }
  };

// 再发布按钮
  function release(obj) {
    if(["pause", "end", "saved"].indexOf($(obj).attr("class")) != -1 ) {
      $.ajax({
        url: '<%= api_employer_jobs_path %>',
        type: 'PATCH',
        data: {"job_id":"<%= @job[:id] %>", "status": "release"},
        success: function() {
          $('#release').html('已发布');
          set_class('release');
          $('#release').off();
        },
        error: function() {
          alert('再次发布失败。')
        }
      });
    } else {
      alert("当前无法发布");
    }
  };

  // 结束发布按钮
    function end(obj) {
      if(["release", "pause"].indexOf($(obj).attr("class")) != -1 ) {
        $.ajax({
          url: '<%= api_employer_jobs_path %>',
          type: 'PATCH',
          data: {"job_id":"<%= @job[:id] %>", "status": "end"},
          success: function() {
            $('#release').html('再发布');
            set_class('end');
            $('#end').off();
          },
          error: function() {
            alert('结束发布失败。')
          }
        });
      } else if(["saved", "fail"].indexOf($(obj).attr("class")) != -1) {
        $.ajax({
          url: '<%= api_employer_jobs_path %>',
          type: 'DELETE',
          date: {id: "<%= @job[:id] %>"},
          success: function() {
            alert('结束发布成功！')
          },
          error: function() {
            alert('结束发布失败。')
          }
        });
      } else {
        alert("当前无法结束");
      }
    };

    // 同时设置三个按钮状态
    function set_class(name) {
        $('#end').attr('class', name);
        $('#release').attr('class', name);
        $('#postPause').attr('class', name);
    }
</script>
