<% provide :title, "我收藏的职位" %>
<div class="jobs favorite-job">
  <div class="jobs-list">
    <% @favorite_jobs.each do |f| %>
    <a href="/webapp/jobs/<%= f[:job_id] %>">
      <div class="job">
        <div class="title">
          <div class="left"><%= f[:job_name] %></div>
          <div class="right"><%= f[:salary_range] %></div>
          <div style="clear:both"></div>
        </div>
        <div class="detail">
          <div class="left"><%= f[:job_name] %></div>
          <div class="right"><%= f[:location] %></div>
          <div style="clear:both"></div>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>
