<% provide :title, "我的" %>

<script type="text/javascript">
  refreshOnce(); //刷新一次
</script>

<div class="main user-first-page home-user user-info-ct">
  <div class="user-info">
    <div class="user-mask"></div>
    <a href="/webapp/users/<%= current_user.id %>/edit" class="user-hidden">
    <div class="user-info-list">
      <div class="avatar">
        <div class="avatar-box" style="background:url('<%= asset_path(@avatar) %>') no-repeat;" id="avatar_box">
            <!-- 已修改样式 bobo -->
        </div>
      </div>
      <p class="info-username"><%= @user.show_name %></p>
      <p class="info-usermajor">学历：<%= @user.highest_degree %></p>
      <p class="info-userposition">职称：<%= @user.position %></p>
    </div>
    <div class="user-status user-status-info">
      <span class="info-major info-job">
        <% if @user.seeking_job %>
        <%= @user.seeking_job %>
        <% else %>
        离职，正在找工作
        <% end %>
      </span>
      <%= image_tag "right-fixed.png"  %>
    </div>
  </a>
  </div>

  <div class="resumes-info-list">
    <!-- <div class="mask"></div> -->
    <div class="content user-content">
      <a class="resumes-list" href="/webapp/resumes/<%= @resume.id %>">
          <%= image_tag "resumes.png",class:"icon1"%>
          <span class="resume">我的简历</span><span class="user-complete">完整度 <%= @resume.maturity %>%</span>
      </a>
      <a class="resumes-list" href="<%= webapp_apply_records_path %>">
          <%= image_tag "apply_records.png",class:"icon2"%>
          <span class="resume">我的应聘记录</span>
      </a>
      <a class="resumes-list" href="<%= webapp_resume_viewers_path %>">
          <%= image_tag "resume_views.png",class:"icon3"%>
          <span class="resume">谁看过我的简历</span>
      </a>
      <a class="resumes-list" href="/webapp/favorite_jobs">
          <%= image_tag "star_black.png",class:"icon4"%>
          <span class="resume">我收藏的职位</span>
      </a>
      <!-- <div class="mask">
      </div> -->
  </div>
  <a class="resumes-list resume-ali" href="<%= webapp_block_hospitals_path %>">
      <%= image_tag "resume_open.png",class:"icon5"%>
      <span class="resume resume-private">简历隐私</span>
  </a>
</div>
</div>
<script>
fullScreen('.user-info-ct');
</script>
