<div id="job-detail">
  <section>
    <div class="job-introduce">
      <h3><%= @job.name %></h3>
      <p style="color:#ff8b00;"><%= @job.salary_range %>/月</p>
      <ul>
        <li><span>医院</span><%= @hospital.name %></li>
        <li><span>性质</span><%= @hospital.property %><span class="job-scale">规模</span><span><%= @hospital.scale %></span></li>
        <li><span>地区</span><%= @job.region %><span class="job-number">人数</span><span><%= @job.needed_number %>人</span></li>
      </ul>
    </div>
    <div class="job-place"><a id="job_map" href="http://api.map.baidu.com/marker?location=39.916979519873,116.41004950566&title=医院&content=我的位置&output=html"><span>工作地点</span><%= @job.location %><i><%= image_tag "jobright.png" %></i></a></div>
  </section>

  <section class="job-right">
    <div class="job-descripte">
      <h2>职位描述</h2>
      <h3>职责说明</h3>
      <p><%= @job.job_desc %></p>
      <h3 class="job-post">任职资格</h3>
      <p><%= @job.job_demand %></p>
    </div>
  </section>

  <%= render '/webapp/jobs/mask' %>

  <!-- 底部栏 -->
  <div class="job-list" id="job_list">
    <ul>
      <li id="msg"><a href="#"><%= image_tag "resume_open.png" %><span>私信Ta</span></a></li>
      <li><a class="<%= @btn_apply[:css] %>" id="apply_job"> <%= image_tag @btn_apply[:img_url] %>
                                                  <span><%= @btn_apply[:text] %></span></a></li>
      <li><a class="<%= @btn_favor[:css] %>" id="favorite_job" onclick=favor(this)><%= image_tag @btn_favor[:img_url] %>
                                                  <span><%= @btn_favor[:text] %></span></a></li>
    </ul>
  </div>

</div>



<script type="text/javascript">
  FailMask("#wrap",$("#job_map").attr("href"))

  // 应聘职位
  $('#btn_apply').bind('click', function(event){
    var formDate; //上传数据
    var data = '<%= params[:fair_id] %>';
    if(data != '') {
      formDate = {job_id: <%= params[:id] %>, from: parseInt(data)}
    }else {
      formDate = {job_id: <%= params[:id] %>}
    }

    $.post("/api/v1/apply_records", {
      apply_record: formDate
    }).done(function() {
      $('#apply_box').attr('class', 'hidden');
      $('#apply_job > span').html('已应聘');
      $('#apply_job').attr('class', 'is_applied');
      $('#apply_job').children('img').remove();
      $('#apply_job').prepend('<%= image_tag "icon_34.png" %>');
      $('.is_applied').unbind('click');
    }).fail(function() {
      FailMask('.container','应聘失败');
    });
  });

  $('#btn_cancel').bind('click', function() {
    $('#apply_box').attr('class', 'hidden');
  });

  $('.no_applied').bind('click', function() {
    $('#apply_box').toggleClass('hidden', 'show');
  });

  $('.no_resume').bind('click', function() {
    FailMask('.container','请先完善简历！');
  });

  $('.is_freeze').bind('click', function() {
    FailMask('.container','您的简历已被冻结，请联系管理员！');
  });

  // 收藏按钮
  function favor(obj) {
    if($(obj).attr('class') == 'no_favor') {
      is_favor();
    } else if ($(obj).attr('class') == 'is_favor') {
      no_favor();
    } else {
      FailMask('.container','failed');
    }
  }

  // 收藏职位
  function is_favor() {
  $.post("/api/v1/favorite_jobs", {
  favorite_job: {job_id: <%= params[:id] %>}
  }).done(function() {
      $('#favorite_job > span').html('已收藏');
      $('#favorite_job > img').remove();
      $('#favorite_job').prepend( '<%= image_tag "star_yellow.png" %>');
      $('#favorite_job').attr('class', 'is_favor');
      $('#favorite_job').off();
  }).fail(function() {
    FailMask('.container','收藏失败');
  });
  }

  // 取消收藏
  function no_favor() {
   $.ajax({
     url: '<%= api_favorite_job_path(params[:id]) %>',
     type: 'DELETE',
     success: function() {
       $('#favorite_job > span').html('收藏职位');
       $('#favorite_job > img').remove();
       $('#favorite_job').prepend( '<%= image_tag "star_black.png" %>');
       $('#favorite_job').attr('class', 'no_favor');
       $('#favorite_job').off();
     },
     error: function() {
       FailMask('.container','删除失败。');
     }
   });
  }

  // 私信Ta
  $('#msg').bind('click', function() {
    FailMask('.container','功能正在开发中');
  });

  // onchange
  function changecontent(obj){
    console.log("1111");
    window.opener.location.reload();
  }

</script>
