<div id="job-detail">
  <section>
    <div class="job-introduce">
      <h3>内科医生</h3>
      <p>7000-9000/月</p>
      <ul>
        <li><span>医院</span>荔湾区花地街社区卫生服务中心</li>
        <li><span>性质</span>社区医院<span class="job-scale">规模</span>5-10人</li>
        <li><span>地区</span>广州<span class="job-number">人数</span>2人</li>
      </ul>
    </div>
    <div class="job-place"><a href="#"><span>工作地点</span>广州市天河区黄村大道西华里2号<i><%= image_tag "jobright.png" %></i></a></div>
  </section>

  <section class="job-right">
    <div class="job-descripte">
      <h2>职位描述</h2>
      <h3>职责说明</h3>
      <h4>负责本专业临床诊治/患者管理工作:</h4>
      <p>负责病人的日常诊断/治疗和处理工作，并提供上门医院服务；</p>
      <p>临床病例讨论，会诊/检查/修改医院诊断文件；</p>
      <p>根据患者的身体情况及生活习惯，给出合理建议并制定健康管理方案；</p>
      <p>遵守各项管理制度；保证医院安全；</p>
      <p>完成其他突发事件处理和领导交办的工作</p>
      <h3 class="job-post">任职资格</h3>
    </div>
  </section>

  <%= render '/webapp/jobs/mask' %>

  <!-- 底部栏 -->
  <div class="job-list">
    <ul>
      <li id="msg"><a href="#"><%= image_tag "resume_open.png" %><span>私信Ta</span></a></li>
      <li><a class="<%= @btn_apply[:css] %>" id="apply_job"> <%= image_tag "apply_records.png" %>
                                                  <span><%= @btn_apply[:text] %></span></a></li>
      <li><a class="<%= @btn_favor[:css] %>" id="favorite_job" onclick=favor(this)><%= image_tag @btn_favor[:img_url] %>
                                                  <span><%= @btn_favor[:text] %></span></a></li>
    </ul>
  </div>

</div>



<script type="text/javascript">
// 应聘职位
$('#btn_apply').bind('click', function(){
  $.post("/api/v1/apply_records", {
    apply_record: {job_id: <%= params[:id] %>}
  }).done(function() {
    $('#apply_box').attr('class', 'hidden');
    $('#apply_job > span').html('已应聘');
    $('#apply_job').attr('class', 'is_applied');
  }).fail(function() {
    alert('failed');
  });
});

$('#btn_cancel').bind('click', function() {
  $('#apply_box').attr('class', 'hidden');
});

$('.no_applied').bind('click', function() {
  $('#apply_box').toggleClass('hidden', 'show');
});

$('.no_resume').bind('click', function() {
  alert('请先完善简历！');
});

// 收藏按钮
function favor(obj) {
console.log(obj);
if($(obj).attr('class') == 'no_favor') {
  is_favor();
} else if ($(obj).attr('class') == 'is_favor') {
  no_favor();
} else {
  alert('failed');
}

}
// 收藏职位
function is_favor() {
$.post("/api/v1/favorite_jobs", {
favorite_job: {job_id: <%= params[:id] %>}
}).done(function() {
    $('#favorite_job > span').html('已收藏');
    $('#favorite_job > img').remove();
    $('#favorite_job').prepend( '<%= image_tag "star_yellow.png" %>');
    $('#favorite_job').attr('class', 'is_favor');
    $('#favorite_job').off();
}).fail(function() {
  alert('收藏失败');
});
}

// 取消收藏
function no_favor() {
 $.ajax({
   url: '<%= api_favorite_job_path(params[:id]) %>',
   type: 'DELETE',
   success: function() {
     $('#favorite_job > span').html('收藏职位');
     $('#favorite_job > img').remove();
     $('#favorite_job').prepend( '<%= image_tag "star_black.png" %>');
     $('#favorite_job').attr('class', 'no_favor');
     $('#favorite_job').off();
   },
   error: function() {
     alert('删除失败。')
   }
 });
}

// 私信Ta
$('#msg').bind('click', function() {
  alert("功能正在开发中");
});

// onchange
function changecontent(obj){
  console.log("1111");
  window.opener.location.reload();
}

</script>
