<div class="job-head">
  <div>
    <%= link_to "职位详情", webapp_job_path, class: "job-page" %>

    <a href="../resume_views/<%= @job.hospital_id %>" class="hospital-page">医院详情</a>

  </div>
</div>

<div id="job-detail">
  <section>
    <div class="job-introduce">
      <h3>内科医生</h3>
      <p>7000-9000/月</p>
      <ul>
        <li><span>医院</span>荔湾区花地街社区卫生服务中心</li>
        <li><span>性质</span>社区医院<span class="job-scale">规模</span>5-10人</li>
        <li><span>地区</span>广州<span class="job-number">人数</span>2人</li>
        <li class="job-place"><a href="#"><span>工作地点</span>广州市天河区黄村大道西华里2号<i>&gt;</i></a></li>
      </ul>
    </div>
  </section>

  <section class="job-right">
    <div class="job-descripte">
      <h2>职位描述</h2>
      <h3>职责说明</h3>
      <h4>负责本专业临床诊治/患者管理工作:</h4>
      <p>负责病人的日常诊断/治疗和处理工作，并提供上门医院服务；</p>
      <p>临床病例讨论，会诊/检查/修改医院诊断文件；</p>
      <p>根据患者的身体情况及生活习惯，给出合理建议并制定健康管理方案；</p>
      <p>遵守各项管理制度；保证医院安全；</p>
      <p>完成其他突发事件处理和领导交办的工作</p>
      <h3 class="job-post">任职资格</h3>
    </div>
  </section>
</div>
<div class="job-list">
  <ul>
    <li><a href="#"><%= image_tag "resume_open.png" %><span>私信Ta</span></a></li>

    <!-- 判断是否已应聘过 -->
    <% if @is_applied %>
      <li><a href="#" class="no_applied"><%= image_tag "apply_records.png" %><span>应聘职位</span></a></li>
    <% else %>
      <li><a href="#" class="is_applied"><%= image_tag "apply_records.png" %><span>已应聘</span></a></li>
    <% end %>

    <li><a href="#"><%= image_tag "jobs_collection.png" %><span>收藏职位</span></a></li>
  </ul>
<div>

  <%= render 'mask' %>

  <script>
  // 获取签名
    function authToken() {
     return '<%= form_authenticity_token if protect_against_forgery? -%>';
   }

  // 顶部导航
  $(".job-head>div>span").click(function(){
    var index = $(this).index();
    $(".job-head>div>span").eq(index).addClass("job-page").removeClass("hospital-page").siblings().removeClass("job-page").addClass("hospital-page");
  });

  // // 底部导航
  // $(".job-list li").eq(1).children("a").css({"color":"#fff","background":"#3f9e9f"});
  // $(".job-list li").click(function(){
  //   var index = $(this).index();
  //   $(".job-list li").eq(index).children("a").css({"color":"#fff","background":"#3f9e9f"});
  //   $(".job-list li").eq(index).siblings().children("a").css({"color":"#444444","background":"#fff"});
  // })

  // 应聘职位
  $('#no_applied').bind('click', function(){
    $.post("/api/v1/apply_records", {
      apply_record: {job_id: <%= params[:id] %>},
      authenticity_token: authToken()
    }).done(function() {
      alert('收藏成功！');
    }).fail(function() {
      alert('failed');
    });
  });


  </script>
