<% if @user %>
<section class="resumes-preview-public">
  <h1>基本信息</h1>
  <div class="resumes-preview-bg  resumes-preview-base">
    <table class="resumes-base">
      <tr>
        <td><span>姓</span>名：</td>
        <td><%= @user.show_name %></td>
      </tr>
      <tr>
        <td><span>性</span>别：</td>
        <td><%= @user.sex %></td>
      </tr>
      <tr>
        <td>最高学历：</td>
        <td><%= @user.highest_degree %></td>
      </tr>
      <tr>
          <td><span>职</span>称：</td>
          <td><%= @user.position %></td>
      </tr>
      <tr>
        <td>工作年限：</td>
        <td><%= @user.start_work_at %></td>
      </tr>
      <tr>
        <td>出生年限：</td>
        <td><%= @user.birthday.strftime('%Y-%m-%d') if @user.birthday %></td>
      </tr>
      <tr>
        <td>所在城市：</td>
        <td><%= @user.location %></td>
      </tr>
      <tr>
        <td>联系电话：</td>
        <td><%= @user.cellphone %></td>
      </tr>
      <tr>
        <td>联系邮箱：</td>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <td>当前状态：</td>
        <td><%= @user.seeking_job %></td>
      </tr>
    </table>
  </div>
</section>
<% end %>


<section class="resume-show resumes-preview-public preview-show">
  <h1>工作经历</h1>
  <div class="wrap resumes-preview-bg public-preview-style">
    <% if @work_experiences %>
    <% @work_experiences.each do |w| %>
    <div class="box" style="padding-bottom:0;">
      <time><%= w.started_at.strftime("%Y-%m-%d") if w.started_at %>-<%= w.left_time.strftime("%Y-%m-%d") if w.left_time %></time>
      <div class="time-line-box work-time">
        <h3><%= w.company %>
        </h3>
        <p>
          <%= w.job_desc %>
        </p>
      </div>
    </div>
  <% end %>
  <% end %>

  </div>
</section>


<section class="resume-show resumes-preview-public">
  <h1>教育经历</h1>
  <div class="wrap resumes-preview-bg public-preview-style">
    <% if @education_experiences %>
    <% @education_experiences.each do |e| %>
    <div class="box" style="padding-bottom:0;">
      <time><%= e.graduated_at.strftime("%Y") if e.graduated_at %>年毕业</time>
      <div class="time-line-box work-time">
        <h3><%= e.college %>
        </h3>
        <p>
          <span><%= e.education_degree %></span>，<span><%= e.major %></span>
        </p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</section>

<section class="resume-show resumes-preview-public">
    <h1>持有证书
    </h1>
    <div class="wrap resumes-preview-bg public-preview-style employer-style">
    <% if @certificates %>
    <div class="box" style="padding-bottom:0;">
        <h3>持有证书</h3>
        <% @certificates.each do |f| %>
        <p><%= f.title %></p>
        <% end %>
    </div>
    <% end %>
    </div>
</section>

<% if @expect_job %>
<section class="resume-show resumes-preview-public">
  <h1>期望工作</h1>
  <div id="preview-expect" class="wrap expect-preview-style">
    <div class="box work-time">
      <h3><%= @expect_job.name %></h3>
      <p class="expect-preview">
        <%= @expect_job.job_type %>/<%= @expect_job.location %>/<%= @expect_job.expected_salary_range %>
      </p>
      <p><%= @expect_job.job_desc %></p>
    </div>
  </div>
</section>
<% end %>
