<!--
<style>
.btn {
    width: 100%;
    height: 50px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
</style>
<div class="container resume-show">
    <div class="wrap">
        <%= link_to "云康医聘", webapp_home_path, class: "btn btn-default" %>
        <%= link_to "demo", webapp_home_path, class: "btn btn-default" %>
        <%= link_to "双选会", webapp_job_fairs_path, class: "btn btn-info" %>
        <%= link_to("退出登陆",destroy_user_session_path, :method => :delete, class: "btn btn-danger" ) %>
    </div>
</div> -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>demo</title>
 <%= javascript_include_tag "jquery-1.8.3.min" %>
  <script type="text/javascript">
  function FailMask(div_class,text) {
    var div = $('<div class="mask-fail"></div>');
    var p = $('<p class="mask-middle"></p>');
    p.text(text);
    div.append(p);
    var parent_div = $(div_class);
    parent_div.append(div);
    var timer = setTimeout(function(){
      div.remove();
    },1000);
  }
  function onLoad(){
  	var u = navigator.userAgent;
  	var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
      var mb = {
        "faction": "reload",
        "parameter": "",
        "callback": "FailMask('#wrap','text')"
      }

      if(isAndroid){
        FailMask('#wrap','11111111111')
      	window.js2MobInterface.postMessage(JSON.stringify(mb));
      }
  }
  </script>
  <style type="text/css">
  .mask-middle {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -2.8rem;
    margin-left: -6.75rem;
    width: 13.5rem;
    height: 5.6rem;
    line-height: 5.6rem;
    text-align: center;
    font-size: 0.9rem;
    background: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 0.5rem;
  }
  </style>
</head>

<body>

<button onclick="onLoad()" style="margin-top: 30px;width: 70px;height: 60px;">刷新</button>
</body>
</html>
