<% provide :title, "我的简历" %>
<% provide :link, "#{current_user.id}/preview" %>
<%= provide :content, "预览" %>
<script>
  // onLoad();
  set_back("/webapp/users/<%= current_user.id %>");
</script>


<div class="container resume-show " style="background: f3f3f3;">
    <div class="wrap">
        <button onClick="onLoad()" style="margin-top: 15px">
          这是刷新按钮1
        </button>
				<button style="margin-top: 15px;margin-left: 20px;">
          <%= link_to "demo", webapp_resumes_path, class: "btn btn-default" %>
        </button>
        <section class="show-style">
            <h2>设置头像</h2>
            <div class="box box-avatar borDer">
                <div class="avatar">
                    <%= image_tag "pencil2.png", class: "pencil" %>
                    <div class="avatar-box avatar-border borDer" style="background:url('<%= asset_path(@avatar) %>') no-repeat;background-size: cover;" id="avatar_box">
                        <!-- 已修改样式 bobo -->
                    </div>
                     <%= simple_form_for @user, method: :patch, url: webapp_user_path(params[:id]), input_html: {id:"avatar_form"} do |f| %>
                         <%= f.input :avatar, label: '头像', id:"user_avatar" %>
                         <%= f.button :submit, id: "avatar_submit" %>
                     <% end %>
                    <span class="update-img">点击更换</span>
                </div>
            </div>
        </section>

        <%# @user.each do |u| %>
        <section class="show-style">
            <h2>基本信息</h2>
            <div class="box box-table borDer" id="box_table">
                <table>
                    <tr>
                        <td><span>姓</span>名：</td>
                        <td><%= @user.show_name %></td>
                    </tr>
                    <tr>
                        <td><span>性</span>别：</td>
                        <td><%= @user.sex %></td>
                    </tr>
                    <tr>
                        <td>最高学历：</td>
                        <td><%= @user.highest_degree %></td>
                    </tr>
                    <tr>
                        <td><span>职</span>称：</td>
                        <td><%= @user.position %></td>
                    </tr>
                    <tr>
                        <td>工作年限：</td>
                        <td><%= @user.start_work_at %></td>
                    </tr>
                    <tr>
                        <td>出生年月：</td>
                        <td><%= @user.birthday.strftime("%Y-%m-%d") if @user.birthday %></td>
                    </tr>
                    <tr>
                        <td>所在城市：</td>
                        <td><%= @user.location %></td>
                    </tr>
                    <tr>
                        <td>联系电话：</td>
                        <td><%= @user.cellphone %></td>
                    </tr>
                    <tr>
                        <td>联系邮箱：</td>
                        <td><%= @user.user_email %></td>
                    </tr>
                    <tr>
                        <td>当前状态：</td>
                        <td><%= @user.seeking_job %></td>
                    </tr>

                </table>
            </div>
        </section>
        <%# end %>


        <section class="show-style">
            <h2>工作经历</h2>
            <% if !@work_experiences.blank? %>
            <div class="box work-show borDer work-try">
                <a href="<%= webapp_work_experiences_path %>" class="edit">
                    <%= image_tag "edit.png" %>
                </a>
               <% @work_experiences.each do |w| %>
               <div class="blue-left">
                 <div class="blue-point"></div>
                 <time><%= w.started_at.strftime("%Y-%m-%d") if w.started_at %>-<%= w.left_time.strftime("%Y-%m-%d") if w.left_time %></time>
                 <div class="time-line-box">
                     <h3><%= w.company %><a class="expend expend-show" onclick="expend_desc(this)">
                             <%= image_tag "show.png" %>
                         </a>
                     </h3>
                     <p class="job-desc-show">
                       <%= w.job_desc %>
                     </p>
                     <p class="job-desc-hide" style="display: none">
                       <%= w.job_desc %>
                     </p>
                 </div>
               </div>
              <% end %>
            </div>
            <% else %>
               <div class="edit-blank">
                 <a href="<%= new_webapp_work_experience_path %>">
                   <p>
                       <%= image_tag "ti"%>
                       <span>添加工作经历</span>
                  </p>
                 </a>
               </div>
            <% end %>
        </section>


        <section class="show-style">
            <h2>教育经历<span><%= image_tag "must.png" %></span>
            </h2>
            <% if !@education_experiences.blank? %>
            <div class="box work-show box-education borDer work-try">
                <% @education_experiences.each do |e| %>
                <div class="blue-left">
                  <div class="blue-point"></div>
                  <time><%= e.entry_at.strftime("%Y-%m-%d") if e.entry_at %>－<%= e.graduated_at.strftime("%Y-%m-%d") if e.graduated_at %></time>
                  <div class="time-line-box">
                    <a href="<%= webapp_education_experiences_path %>" class="edit educate-edit">
                        <%= image_tag "edit.png" %>
                    </a>
                      <h3><%= e.college %>
                      </h3>
                    <p><%= e.major %></p>
                  </div>
                </div>
              <% end %>
            </div>
            <% else %>
               <div class="edit-blank">
                 <a href="<%= new_webapp_education_experience_path %>">
                   <p>
                       <%= image_tag "ti"%>
                       <span>添加教育经历</span>
                  </p>
                 </a>
               </div>
            <% end %>
        </section>

          <section class="show-style">
              <h2>持有证书
              </h2>
              <div class="box work-show box-certif borDer">
                <% if !@certificates.blank? %>
                  <a href="/webapp/certificates" class="edit">
                      <%= image_tag "edit.png" %>
                  </a>
                  <% @certificates.each do |f| %>
                  <p class="certi-p"><%= f.title %></p>
                  <% end %>
                  <% elsif %>
                    <div class="edit-blank edit-certi">
                      <a href="/webapp/certificates">
                        <p>
                            <%= image_tag "ti"%>
                            <span>添加持有证书</span>
                       </p>
                      </a>
                    </div>
                  <% end %>
              </div>
          </section>

        <section class="show-style expect-img">
            <h2>期望工作<span><%= image_tag "must.png" %></span>
            </h2>
            <% if @expect_job %>
            <div class="box work-show box-certif borDer box-minheight" id="user_pect">
                <a href="<%= edit_webapp_expect_job_path(@expect_job.id) %>" class="edit">
                    <%= image_tag "edit.png" %>
                </a>
                <h3><%= @expect_job.name %><a class="expend expect-expend expend-education"  onclick="expend_desc(this)">
                        <%= image_tag "show.png" %>
                    </a>
                </h3>
                <p>
                  <%= @expect_job.job_type %>
                  <%= @expect_job.job_type.present? ? '/' : '' %>
                  <%= @expect_job.location %>
                  <%= @expect_job.location.present? ? '/' : '' %>
                  <%= @expect_job.expected_salary_range %>
                </p>
                <p class="job-desc-show">
                  <%= @expect_job.job_desc if @expect_job.job_desc %>
                </p>
                 <p class="job-desc-hide" style="display:none;">
                   <%= @expect_job.job_desc if @expect_job.job_desc %>
                 </p>
            </div>
            <% end %>
        </section>


        <button type="button" name="button" class="refresh">刷新简历</button>
        <button type="button" name="button" class="preview"><a href="/webapp/resumes/<%= current_user.id %>/preview/">简历预览</a></button>
    </div>
</div>

<script type="text/javascript">
  //判断描述内容是否过长，长则加省略号
  var desc_p = $('.job-desc-show');
  for(var i=0;i<desc_p.length;i++){
    desc_text = desc_p[i].innerText;
    if(desc_text.length > 60) {
       var p_text = desc_text.substring(0,60) + ".....";
       desc_p[i].innerText = p_text;
    }
  }

  // 通过判断两个P的内容长度是否一样，不一样相互交换内容
  function expend_desc(obj) {
      var p_1 = $(obj).parent().siblings('p.job-desc-show');
      var p_text_1 = p_1.text();
      var p_2 = $(obj).parent().siblings('p.job-desc-hide');
      var p_text_2 = p_2.text();
      if(p_text_1.length != p_text_2.length) {
        p_1.text(p_text_2);
        p_2.text(p_text_1);
      }
  };

// $(document).on('ready page:load', function () {
//   $('.avatar-box').click(function() {
//     $('#user_avatar').click();
//   }),
//   $('.pencil').click(function() {
//     $('#user_avatar').click();
//   }),
//   $('#user_avatar').change(function() {
//     $('#avatar_submit').click();
//   })
// });

  $('.avatar-box').click(function() {
    $('#user_avatar').click();
  }),
  $('.pencil').click(function() {
    $('#user_avatar').click();
  }),
  $('#user_avatar').change(function() {
    $('#avatar_submit').click();
  })

  // 刷新简历
  $('.refresh').click(function() {
    $.ajax({
      url: '<%= webapp_resume_path(params[:id]) %>',
      type: 'PATCH',
      data: {refresh: true},
      success: function() {
        $('.refresh').html('6天后可再次刷新');
        $('.refresh').css('background-color', 'gray');
        $('.refresh').off();
      },
      error: function() {
        alert('刷新失败。')
      }
    });
  });

  // 判断剩余写几天
  <% if @refresh_left  %>
    $(function() {
      $('.refresh').html('<%= @refresh_left %>天后可再次刷新');
      $('.refresh').css('background-color', 'gray');
      $('.refresh').off();
    });
  <% end %>

</script>
