
    <style>
    .sessions {
      position: relative;
      top: 2rem;
      /*padding: 0 2rem;*/
      margin: 0 auto;
      width: 40%;
    }
    .sessions .form-group {
      position: relative;
    }
    .sessions .form-control {
      text-indent: 0.13rem;
    }
    .sessions .form-group + .form-group {
      position: relative;
      top: 0.3rem;
    }
    .sessions label {
      position: absolute;
      bottom: 0;
      left: 0.1rem;
      height: 38px;
      line-height: 38px;
      margin: 0;
      /*float: left;*/
    }
    .sessions input.form-control {
      margin-right: 0;
      /*float: left;*/
      text-indent: 0.8rem;
    }
    .sessions .btn-blue {
      position: relative;
      top: 1rem;
      border: none;
      background-color: #218868;
    }
    .sessions .btn-blue:hover {
      opacity: 0.8;
    }
     .alert-dismissable {
       position: relative;
       top: 0.6rem;
     }
    </style>


    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="#">笔记云控制台</a>
        <ul id="admin_nav" class="nav navbar-nav nav-console">

        </ul>
    </nav> -->
    <%= notice_message %>
    <div class="sessions">
        <%= simple_form_for(resource, :as => resource_name, :url => user_session_path) do |f| %>
            <%= f.input :username, label: '用户账号：', input_html: {class: "form-control", autocomplete: "off"} %>
            <%= f.input :password, label: '密　　码：',as: :password, input_html: {class: "form-control", autocomplete: "off"} %>
            <%= f.button :submit, "登录", class: "btn-blue", style: "width: 100%" %>
        <% end %>
    </div>
