<% provide :title, "云康医聘" %>
<% provide :link, "users/#{current_user.id}" %>
<% provide :content, "我的" %>
<% provide :img_left, "home.png" %>
<% provide :back, '/' %>

<script>
  app_reload();
  go_home_android();
</script>

<style>
/*通用样式开始*/
* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "微软雅黑","SanFrancisco", "苹方字体"!important;
}
html,
body,
#wrap {
  height: 100%;
  background: #f3f3f3;
  .alert {
  position: fixed;
  top: 68px;
  left: 0;
  width: 98%;
  margin-left: 1%;
  z-index: 99;
  }

  // 右上角的按钮
  .btn-right {
    margin-top: 20px;
    width: 100%;
    height: 46px;
    background-color: red;
    border: 1px solid red;
  }
  a:hover {
    text-decoration: none;
  }

}
header {
    padding-top: 0.01rem;
    background: rgb(59,157,160);
    height: 0;
    color: white;
    text-align: center;
    a {
      float: left;
      margin-top: 0.6rem;
    }
    a img {
          height: 0.79rem;
      }
      .left-img {
        display: block;
        width:2rem;
        height: 2rem;
        margin-top: 0.35rem;
        -webkit-margin: 0;
        -webkit-padding: 0;
        position: absolute;
        top: 0;
        left: 0.2rem;
        padding: 0.2rem 0 0 0;
      }
    .top {
          margin: 0 auto;
          width: 18.71rem;
      }
    .title {
      display: inline-block;
      font-size: 0.87rem;
      line-height: 2.32rem;
      margin: 0 auto;
    }
    .right {
       color: white;
       font-size: 0.77rem;
       position: absolute;
       top: 0.1rem;
       right: 1.1rem;
       color: white;
  }
  .right:hover {
    color: #fff;
    text-decoration: none;
  }
}
/*通用样式结束*/

/*搜索首页开始*/
a:hover {
  text-decoration: none;
}
.search-box {
  background: rgb(244,244,244);
  .box {
    margin: auto;
    padding: 0.25rem 0;
    width: 19.83rem;
    .left {
      width: 4.58rem;
      height: 1.62rem;
      float: left;
      border: 1px solid #e3e3e3;
      background: white;
      border-radius: 0.2rem;
      text-align: center;
    }
    .right {
      float: right;
      margin-left: 0.4rem;
      background: white;
      height: 1.62rem;
      width: 14.72rem;
      border-radius: 0.2rem;
      border: 1px solid #e3e3e3;
      color: rgb(193,193,193);
      padding-left: 1.92rem;
    }
  }
}
.jobs {
  .jobs-list {
    width: 19.08rem;
    margin: -0.7rem auto 0 auto;
    font-size: 0.63rem;
    a {
      display: block;
    }

    .job {
      border-bottom: 1px solid #e3e3e3;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      margin-top: 0rem;
      .left {
        float: left;
        font-size: 0.88rem;
        margin-top: 0.263rem;
      }
      .right {
        float: right;
        font-size: 0.85rem;
        margin-top: 0.18rem;
      }
      .right-range {
        margin-top: 0.2rem;
        font-size: 0.7rem;
      }
      .title {
        .left {
          font-size: 0.9rem;
        }
        .right {
          color: rgb(255,162,0);
          margin-top: 0.38rem;
        }
      }
      .detail {
        color: rgb(195,195,195);
        line-height: 0.8rem;
        height: 1.1rem;
      }
    }
  }
  .hosp-show {
    margin-top: -0.9rem;
  }
}
.flex-control-nav {
  position: absolute;
  text-align: center;
  z-index:10000;
  left:0;
  right:0;
  margin:auto;
  bottom:10.7em;
}
.pro-switch {
  height: 5.95rem;
  width: 100%;
  overflow: hidden;
  img {
    height: 5.95rem;
  }
}
#show-me {
  width: 3.08rem;
  height: 3.08rem;
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  overflow: hidden;
  .img-size {
    width: 3.08rem;
    height: 3.08rem;
  }
  .img-red {
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    width: 0.6rem;
    height: 0.6rem;
    background: #fe0100;
    border-radius: 50%;
    font-size: 0.42rem;
    text-align: center;
    line-height: 0.7rem;
    color: #fff;
  }
}
</style>


<div class="search-box">
  <div class="box">

    <form id="myform" name="filter" method="get" action="/webapp/home">
      <input class="left" type="text" name="city" id="cityChoice" placeholder="深圳市" onchange="show();" >
      <input type="hidden" id="province" value="">
      <input type="hidden" id="city" value="">
      <input id="search" class="right" type="text" name="search" placeholder="搜索职位/机构" onkeydown="show();" />
      <%= image_tag "search.png"%>
      <input id="submit" class="btn btn-success btn-order" type="submit" value="搜索" style="display:none"/>
    </form>



    <div style="clear:both"></div>
  </div>
</div>
<div class="pro-switch">
  <div class="flexslider">
    <ul>
      <div class="slides">
        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
          <%= image_tag "banner1.jpg" %>
        </li>
        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
          <%= image_tag "banner2.jpg" %>
        </li>
        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
          <%= image_tag "banner3.jpg" %>
        </li>
        <div style="clear:both"></div>
      </div>
    </ul>
  </div>
</div>

<div class="jobs">
  <div class="jobs-list" id="jobs_home_list">
　　<% @arjob.each do |j| %>
    <a href="jobs/<%= j[:id] %>">
    <div class="job">
    <div class="title">
    <div class="left job-name"><%= j[:job_name] %></div>
    <div class="right right-range"><%= j[:salary_range] %>/月</div>
    <div style="clear:both"></div>
    </div>
    <div class="detail">
    <div class="left"><%= j[:hospital_name] %></div>
    <div class="right"><%= j[:region] %></div>
    <div style="clear:both"></div>
    </div>
    </div>
    </a>
    <% end %>

    <div id="show-me">
      <a href="<%= webapp_user_path(current_user.id) %>">
        <%= image_tag "showme.png", class: "img-size" %>
        <% if @has_new_length != 0 %>
        <div class="img-red">
          <%= @has_new_length %>
        </div>
        <% end %>
      </a>
    </div>

  </div>
</div>
<script>
    function show () {
        var e=window.event||arguments.callee.caller.arguments[0];
        if(e.keyCode==13){
            $("#submit").trigger("click");
        }
    }

    $('.flexslider').flexslider();
    $('.flexslider').flexslider({slideshow: true});

    // 城市插件
    var cityPicker = new IIInsomniaCityPicker({
          data: cityData,
          target: '#cityChoice',
          valType: 'k-v',
          hideCityInput: '#city',
          hideProvinceInput: '#province',
          callback: function(){
            $("#submit").trigger("click");
          }

      });
      cityPicker.init();

    $('#cityChoice').click(function() {
      this.blur()
    })

    <% if params[:city] %>
    $(function() {
        console.log('<%= params[:city] %>');
        $('#cityChoice').val( '<%= params[:city] %>' );
    });
    <% end %>

     //软键盘弹出定位
      $("#myform>input:eq(3)").bind('focus',function(){
        $("#show-me").css('display','none');
      }).bind('blur',function(){
        $("#show-me").css('display','block');
      })

</script>
