<% provide :title, "云康医聘" %>
<% provide :link, "users/#{current_user.id}" %>
<% provide :content, "我的" %>
<div class="search-box">
  <div class="box">

    <form id="myform" name="filter" method="get" action="/webapp/home">
      <input class="left" type="text" name="city" id="cityChoice" placeholder="深圳市" onchange="show();" >
      <input type="hidden" id="province" value="">
      <input type="hidden" id="city" value="">
      <!--<input class="left" type="text" name="city" placeholder="城市"  onkeydown="show();" />-->
      <input id="search" class="right" type="text" name="search" placeholder="搜索职位/医院" onkeydown="show();" />
      <%= image_tag "search.png"%>
      <input id="submit" class="btn btn-success btn-order" type="submit" value="搜索" style="display:none"/>
    </form>



    <div style="clear:both"></div>
  </div>
</div>
<div class="pro-switch">
  <div class="flexslider">
    <ul>
      <div class="slides">
        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
          <%= image_tag "test.jpg" %>
        </li>
        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
          <%= image_tag "test.jpg" %>
        </li>
        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.4s ease; z-index: 2;">
          <%= image_tag "test.jpg" %>
        </li>
        <div style="clear:both"></div>
      </div>
    </ul>
  </div>
</div>

<div class="jobs">
  <div class="jobs-list">
　　<% @arjob.each do |j| %>
    <a href="jobs/<%= j[:id] %>">
    <div class="job">
    <div class="title">
    <div class="left"><%= j[:job_name] %></div>
    <div class="right right-range"><%= j[:salary_range] %>/月</div>
    <div style="clear:both"></div>
    </div>
    <div class="detail">
    <div class="left"><%= j[:hospital_name] %></div>
    <div class="right"><%= j[:location] %>市白云区</div>
    <div style="clear:both"></div>
    </div>
    </div>
    </a>
    <% end %>

    <div id="show-me">
      <a href="<%= webapp_user_path(current_user.id) %>"><%= image_tag "showme.png", class: "img-size" %></a>
    </div>

  </div>
</div>
<script>
    function show () {
        var e=window.event||arguments.callee.caller.arguments[0];
        if(e.keyCode==13){
            $("#submit").trigger("click");
        }
    }


// 城市插件
    var cityPicker = new IIInsomniaCityPicker({
          data: cityData,
          target: '#cityChoice',
          valType: 'k-v',
          hideCityInput: '#city',
          hideProvinceInput: '#province',
          callback: function(){
            $("#submit").trigger("click");
          }

      });
      cityPicker.init();

<% if params[:city] %>
$(function() {
    console.log('<%= params[:city] %>');
    $('#cityChoice').val( '<%= params[:city] %>' );
});
<% end %>

 //软键盘弹出定位
  $("#myform>input:eq(3)").bind('focus',function(){
    $("#show-me").css({'position':'absolute','bottom':'-3rem'});
  }).bind('blur',function(){
    $("#show-me").css({'position':'fixed','bottom':'2.5rem'});
  })


</script>
