<% provide :link, "/webapp/resumes/#{current_user.id}"  %>
<% provide :title, "编辑教育经历" %>
<% provide :content, "保存" %>

<div class="edit_basic edit-work-experiences">
    <%= simple_form_for :user_info, url: edit_webapp_education_experience_path(params[:id]) do |f| %>
      <%= f.input :name, label: "学校", input_html: { class: "user-input"} %>
      <%= f.input :name, label: '学位', input_html: { class: "user-input"} %>
      <%= f.input :name, label: '专业', input_html: { class: "user-input"} %>
      <%= f.input :name, label: '开始时间', input_html: { class: "user-input"} %>
      <%= f.input :name, label: '结束时间', input_html: { class: "user-input"} %>
    <% end %>
</div>

<script type="text/javascript">
  fullScreen('.edit_basic');
</script>
