<% provide :link, "/webapp/resumes/#{current_user.id}"  %>
<% provide :title, "编辑教育经历" %>

<div class="edit_basic edit-work-experiences edit-education">
    <%= simple_form_for @education_experience, method: :patch,remote: true, url: webapp_education_experience_path(params[:id]) do |f| %>
      <div class="job-pubilc">
        <%= f.input :college, label: "学        校", input_html: { class: "user-input", id: "user_school"} %>
        <span class="empty-cont" onclick="EmptyCont('user_school')"></span>
      </div>
      <div class="job-pubilc">
        <%= f.input :major, label: '专       业', input_html: { class: "user-input", id: "user_major"} %>
        <span class="empty-cont" onclick="EmptyCont('user_major')"></span>
      </div>
      <%= f.input :education_degree, label: '学        历', input_html: { readonly: "readonly", class: "education-degree user-input", id: "education_degree"} %>
      <%= f.input :entry_at, label: '开始时间', as: :string, input_html: { class: "user-input", id: "beginTime"} %>
      <%= f.input :graduated_at, label: '结束时间', as: :string, input_html: { class: "user-input", id: "endTime"} %>
      <%= f.submit id: "submit", class: "btn btn-info btn-right class-display"%>
      <div class="btm-nav">
        <p class="btm-delete" onclick="ClickShowHide(this)">删除此经历</p>
        <p class="btm-save">保存</p>
      </div>
<% end %>
<%= link_to "删除此经历", webapp_education_experience_path(params[:id]), method: :delete, remote: true, class: "btm-delete", id: "delete_bottom_id"%>
<div id="datePlugin"></div>
</div>
<div id="popup_delete">
  <div id="popup">
  </div>
  <ul>
    <li>删除将无法恢复，确认删除吗？</li>
    <li onclick="ClickDeleteBtn(this)">确定</li>
    <li onclick="ClickDeleteBtn(this)">取消</li>
  </ul>
</div>

<%= javascript_include_tag "date" %>
<script type="text/javascript">
  fullScreen('.edit_basic');
  clickRignt('#submit');

  //学历
      $('.education-degree').click(function() {
        var education_degree = ['大专以下', '大专','本科', '硕士', '博士', '博士后'];
        var pclass = 'education_degree';
        workExperience(education_degree, ".education-degree", pclass);
      });
      $('.right').css("display","none");

     //时间插件
      $(function(){
    	$('#beginTime').date();
      $('#endTime').date();
       });
</script>
