<% provide :link, "/webapp/resumes/#{current_user.id}"  %>
<% provide :title, "编辑教育经历" %>
<% provide :content, "保存" %>

<div class="edit_basic edit-work-experiences">
    <%= simple_form_for @education_experience, method: :patch, url: webapp_education_experience_path(params[:id]) do |f| %>
      <%= f.input :college, label: "学校", input_html: { class: "user-input"} %>
      <%= f.input :education_degree, label: '学位', input_html: { class: "user-input"} %>
      <%= f.input :major, label: '专业', input_html: { class: "user-input"} %>
      <%= f.input :entry_at, label: '开始时间', as: :string, input_html: { class: "user-input"} %>
      <%= f.input :graduated_at, label: '结束时间', as: :string, input_html: { class: "user-input"} %>
      <%= f.submit id: "submit", class: "btn btn-info btn-right"%>
<% end %>
</div>

<script type="text/javascript">
  fullScreen('.edit_basic');
  clickRignt('#submit');
</script>
