<% provide :link, "/webapp/resumes/#{current_user.id}"  %>
<% provide :title, "编辑教育经历" %>

<div class="edit_basic edit-work-experiences edit-education" id="edit_education">
    <%= simple_form_for @education_experience, method: :patch,remote: true, url: webapp_education_experience_path(params[:id]) do |f| %>
      <div class="job-pubilc">
        <%= f.input :college, label: "学        校", input_html: { class: "user-input", id: "user_school", name: "college"} %>
        <span class="empty-cont" onclick="EmptyCont('user_school')"></span>
      </div>
      <div class="job-pubilc">
        <%= f.input :major, label: '专       业', input_html: { class: "user-input", id: "user_major", name: "major"} %>
        <span class="empty-cont" onclick="EmptyCont('user_major')"></span>
      </div>
      <%= f.input :education_degree, label: '学        历', input_html: { readonly: "readonly", class: "education-degree user-input", id: "education_degree", name: "education_degree"} %>
      <%= f.input :entry_at, label: '开始时间', as: :string, input_html: { class: "user-input", id: "beginTime", name: "entry_at"} %>
      <%= f.input :graduated_at, label: '结束时间', as: :string, input_html: { class: "user-input", id: "endTime", name: "graduated_at"} %>
      <%= f.submit id: "submit", class: "btn btn-info btn-right class-display"%>
      <div class="btm-nav">
        <p class="btm-delete" onclick="ClickShowHide(this)">删除此经历</p>
        <p class="btm-save">保存</p>
      </div>
<% end %>
<%= link_to "删除此经历", webapp_education_experience_path(params[:id]), method: :delete, remote: true, class: "btm-delete", id: "delete_bottom_id"%>
<div id="datePlugin"></div>
</div>
<div id="popup_delete">
  <div id="popup">
  </div>
  <ul>
    <li>删除将无法恢复，确认删除吗？</li>
    <li onclick="ClickDeleteBtn(this)">确定</li>
    <li onclick="ClickDeleteBtn(this)">取消</li>
  </ul>
</div>

<%= javascript_include_tag "date" %>
<script type="text/javascript">
  fullScreen('.edit_basic');

  // 表单验证
  formAll("#edit_education form")

  // 防重复点击
  $(".btm-save").on('click',function() {
    // 表单验证提示语弹窗
    var timer = setTimeout(function(){
      unvalidAlert();
    },5)

    // 验证表单,失败返回
    if(valid("#edit_education form")){
      return
    }

    // 判断开始时间是否大于结束时间
    var data_compare = dataCompare();
    if(data_compare) {
      return;
    }

    $("#btn_save").css("pointer-events","none");
    $(':submit').trigger('click');
  })

  //学历
  $('.education-degree').click(function() {
    this.blur()
    var education_degree = ['大专以下', '大专','本科', '硕士', '博士', '博士后'];
    addComponent("#wrap", education_degree, '#education_degree')
  });
  $('.right').css("display","none");

  var start = {
      dateCell: '#beginTime',
      format: 'YYYY-MM-DD',
      minDate: '1900-01-01', //设定最小日期为当前日期
      ishmsVal:false,
      maxDate: '2099-06-30', //最大日期
      choosefun: function(elem,datas){
          //console.log(datas)
          end.minDate = datas; //开始日选好后，重置结束日的最小日期
      }
  };
  var end = {
      dateCell: '#endTime',
      format: 'YYYY-MM-DD',
      minDate: '1900-01-01', //设定最小日期为当前日期
      ishmsVal:false,
      maxDate: '2099-06-16', //最大日期
      choosefun: function(elem,datas){
          //console.log(end.minDate)
          start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
      }
  };
  jeDate(start);
  jeDate(end);

  // 判断时间插件 今天按钮是否需置灰
  preventClick("#beginTime", "#endTime");
</script>
