<% provide :link, new_webapp_education_experience_path  %>
<% provide :title, "教育经历" %>
<% provide :content, "添加" %>
<script type="text/javascript">
  $(refreshOnce()); //刷新一次页面
</script>

<div class="resume-show work-experience">
  <div class="wrap" id="work_edit_wrap">
    <% if @education_experiences %>
        <% @education_experiences.each do |e| %>
            <section>
              <div class="workindex-page">
                <div class="box-table">
                <a href="<%= edit_webapp_education_experience_path(e.id) %>" class="edit"><%= image_tag "edit2.png" %></a>
                <time><%= e.graduated_at.strftime("%Y") if e.graduated_at %>年毕业</time>
                <div class="work-box">
                  <h3><%= e.college %></h3>
                  <p>
                    <span><%= e.education_degree %></span>，<span><%= e.major %></span>
                  </p>
                </div>
              </div>
              </div>
            </section>
        <% end %>
    <% end %>
  </div>
  <a id="new_edit_btn" href="/webapp/eduction_experiences/new">添加</a>
</div>

<script type="text/javascript">
  fullScreen('.resume-show');
</script>
