<% provide :link, new_webapp_education_experience_path  %>
<% provide :title, "教育经历" %>
<% provide :content, "添加" %>
<div class="resume-show work-experience">
  <div class="wrap">
    <% if @education_experiences %>
        <% @education_experiences.each do |e| %>
            <section>
              <div class="box education">
                <a href="<%= edit_webapp_education_experience_path(e.id) %>" class="edit">编辑</a>
                <time><%= e.graduated_at.strftime("%Y") if e.graduated_at %>年毕业</time>
                <div class="work-box">
                  <h3><%= e.college %></h3>
                  <p>
                    <span><%= e.education_degree %></span>，<span><%= e.major %></span>
                  </p>
                </div>
              </div>
            </section>
        <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">

    fullScreen('.work-experience');

</script>
