
<% provide :title, "教育经历" %>

<% if User.highest_degree(current_user.id) %>
  <% provide :content, "保存" %>
  <% provide :link, "webapp_education_experiences_path"  %>
<% else %>
  <% provide :content, "下一步" %>
  <% provide :link, '/webapp/expect_jobs/new' %>
<% end %>

<div class="edit_basic edit-work-experiences">
    <%= simple_form_for :user_info, url: webapp_education_experiences_path, :method => :post  do |f| %>
      <%= f.input :name, label: "学校", input_html: { class: "user-input"} %>
      <%= f.input :name, label: '学位', input_html: { class: "user-input"} %>
      <%= f.input :name, label: '专业', input_html: { class: "user-input"} %>
      <%= f.input :name, label: '开始时间', input_html: { class: "user-input"} %>
      <%= f.input :name, label: '结束时间', input_html: { class: "user-input"} %>



      <%= f.button :button, '删除此经历', class: "btn-del" %>
      <%= f.button :submit, '保存',  class: "btn-save" %>
    <% end %>
</div>

<script type="text/javascript">
  fullScreen('.edit_basic');
</script>
