
<% provide :title, "教育经历" %>
<% provide :content, "保存" %>

<div class="edit_basic edit-work-experiences edit-education">
    <%= simple_form_for :education_experience, url: webapp_education_experiences_path,remote: true, :method => :post  do |f| %>
      <%= f.input :college, label: "学校", input_html: { class: "user-input"} %>
      <%= f.input :major, label: '专业', input_html: { class: "user-input"} %>
      <%= f.input :education_degree, label: '学历', input_html: { readonly: "readonly",class: "education-degree user-input", id: "education_degree"} %>
      <%= f.input :entry_at, label: '开始时间', as: :string, input_html: { class: "user-input", id: "beginTime"} %>
      <%= f.input :graduated_at, label: '结束时间', input_html: { class: "user-input", id: "endTime"} %>
      <%= f.submit id: "submit", class: "btn btn-info btn-right"%>
    <% end %>
    <div id="datePlugin"></div>
</div>


<%= javascript_include_tag "date" %>
<script type="text/javascript">
  fullScreen('.edit_basic');
  clickRignt('#submit');

  //学历
      $('.education-degree').click(function() {
        var education_degree = ['大专以下', '大专','本科', '硕士', '博士', '博士后'];
        var pclass = 'education_degree';
        workExperience(education_degree, ".education-degree", pclass);
      });

      //时间插件
       $(function(){
       	$('#beginTime').date();
        $('#endTime').date();
        });
</script>
