
<% provide :title, "教育经历" %>
<% provide :content, "保存" %>

<div class="edit_basic edit-work-experiences edit-education" id="edit_education">
    <%= simple_form_for :education_experience, url: webapp_education_experiences_path,remote: true, :method => :post  do |f| %>
      <div class="job-pubilc">
        <%= f.input :college, label: "学        校", input_html: { class: "user-input", id: "user_school", name: "college"} %>
        <span class="empty-cont" onclick="EmptyCont('user_school')"></span>
      </div>
      <div class="job-pubilc">
        <%= f.input :major, label: '专       业', input_html: { class: "user-input", id: "user_major", name: "major"} %>
        <span class="empty-cont" onclick="EmptyCont('user_major')"></span>
      </div>
      <%= f.input :education_degree, label: '学        历', input_html: { readonly: "readonly",class: "education-degree user-input", id: "education_degree", name: "education_degree"} %>
      <%= f.input :entry_at, label: '开始时间', as: :string, input_html: { class: "user-input", id: "beginTime", name: "entry_at"} %>
      <%= f.input :graduated_at, label: '结束时间', input_html: { class: "user-input", id: "endTime", name: "graduated_at"} %>
      <%= f.submit "提交", id: "submit", style: "display: none"%>
      <button type="button" name="button" id="btn_save" class="btn btn-info btn-right">提交</button>
    <% end %>
    <div id="datePlugin"></div>
</div>


<%= javascript_include_tag "date" %>
<script type="text/javascript">
  fullScreen('.edit_basic');

  // 表单验证
  formAll("#edit_education form")

  $('#endTime').click(function() {
    this.blur();
  })

  // 防重复点击
  $("#btn_save").on('click',function() {
    EditMask("#btn_save", "请完善信息！");

    // 验证表单,失败返回
    if(valid("#edit_education form")){
      return
    }

    // 判断开始时间是否大于结束时间
    var data_compare = dataCompare();
    if(data_compare) {
      return;
    }

    $("#btn_save").css("pointer-events","none");
    $(':submit').trigger('click');
  })

  //学历
  $('.education-degree').click(function() {
    this.blur()
    var education_degree = ['大专以下', '大专','本科', '硕士', '博士', '博士后'];
    var pclass = 'education_degree';
    workExperience(education_degree, ".education-degree", pclass);
  });

  //时间插件
  //  $(function(){
  //    	$('#beginTime').date(null, function(datestr) {
  //       beginBack(datestr, 'beginTime', 'endTime')
  //     })
   //
  //     $('#endTime').date(null, function(datestr) {
  //       endBack(datestr, 'beginTime', 'endTime')
  //     })
  //   })

  $(function () {

    $('#beginTime').mobiscroll().calendar({
        theme: 'mobiscroll',
        lang: 'zh',
        display: 'bottom',
        calendarScroll: 'vertical',
        // min: new Date(2014, 8, 15),
        max: new Date()
    });

    $('#beginTime').change(function() {
      var beginTime = $('#beginTime').val(),
        begin_year = parseInt(beginTime.substr(0,4)),
        begin_mouth = parseInt(beginTime.substr(6,1))-1,
        begin_day = parseInt(beginTime.substr(8,2));

       $('#endTime').mobiscroll().calendar({
           theme: 'mobiscroll',
           lang: 'zh',
           display: 'bottom',
           calendarScroll: 'vertical',
           min: new Date(begin_year, begin_mouth, begin_day),
           max: new Date()
       });
    })
})





</script>
