<div class="content hospital-details" id="hospital_detail">
  <div class="hospital-introduce hospital-mainpage">
    <div class="title"><%= @hospital.name %></div>
    <p><%= @hospital.property %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @hospital.scale %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= @hospital.industry %></p>
  </div>
  <div class="work-address">
    <a href="#"><span>工作地点</span><%= @hospital.location %><%= image_tag "jobright.png",class:"right"%></a>
  </div>
  <div class="job-bg"></div>
  <div class="jobs">
    <a href="<%= webapp_hospital_path(@hospital.id) %>">查看所有职位 <span><%= @jobs %></span><%= image_tag "jobright.png",class:"right"%> </a>
  </div>
  <div class="job-bg"></div>
  <div class="details hospital-desc">
    <div class="title">相关介绍</div>
    <p><%= @hospital.introduction %></p>
  </div>
</div>
<script>
  // fullScreen('#hospital_detail');
</script>
