<!--该页是医院的职位列表页-->
<% provide :title, @hospital.name %>
<div class="jobs hospitaljob-list">
  <div class="jobs-list hosp-show">
    <% @jobs.each do |h| %>

    <!-- 判断是否来自 resume_viewers -->
    <% if params[:from] == "viewers" %>
      <a href="/webapp/jobs/<%= h.id %>">
    <% else %>
      <a href="/webapp/jobs/<%= h.id %>?hospital=<%= params[:id] %>">
    <% end %>

      <div class="job">
        <div class="title">
          <div class="left"><%= h.name %></div>
          <div class="right"><%= h.salary_range %>/月</div>
          <div style="clear:both"></div>
        </div>
        <div class="detail job-list-detail">
          <div class="left"><%= @hospital.name %></div>
          <div class="right"><%= h.region %></div>
          <div style="clear:both"></div>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>
