<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<table class="table table-bordered">
  <thead>
    <th>操作者ID</th>
    <th>操作者姓名</th>
    <th>数据表</th>
    <th>数据ID</th>
    <th>操作对象</th>
    <th>操作</th>
    <th>操作时间</th>
  </thead>
  <tbody>
  <% @log.each do |f| %>
    <tr>
    </tr>
    <td> <%= f.user_id %></td>
    <td><%= f.show_name %></td>
    <td><%= f.table %></td>
    <td><%= f.obj_id %></td>
    <td><%= f.object_name %></td>
    <td><%= f.action %></td>
    <td><%= (f.created_at + 8.hours).strftime("%Y-%m-%d %H:%M:%S") %></td>
  <% end %>
</tbody>
</table>
<%= paginate @log, :window => 2 %>
