<%= provide :title, "医院信息设置" %>

<div class="">
  <%= simple_form_for @hospital, method: :patch, remote: true, url: employer_user_path(params[:id]) do |f| %>
  <%= f.input :name, label: "医院全称" %>
  <%= f.input :property, label: '类型', input_html: { readonly: "readonly", class: "", id: ""} %>
  <%= f.input :scale, label: '规模', input_html: { class: "", id: ""} %>
  <%= f.input :industry, label: '行业', input_html: { class: "", id: ""} %>
  <%= f.input :location, label: '地址', input_html: { class: "", id: ""} %>
  <%= f.input :introduction, label: '相关介绍', as: :text, input_html: { class: "", id: "", placeholder: "最多输入1000字"} %>
  <%= f.submit '保存',id: "submit"%>
  <% end %>
</div>
