<%= provide :title, "医院信息设置" %>
<div id="job_basic">
  <%= simple_form_for @hospital, method: :patch, remote: true, url: employer_user_path(params[:id]) do |f| %>
  <%= f.input :name, label: "医院全称" %>
  <%= f.input :property, label: '类型', input_html: { readonly: "readonly", class: "user-prop", id: "user_prop"} %>
  <%= f.input :scale, label: '规模', input_html: { readonly: "readonly", class: "user-scale", id: "user_scale"} %>
  <%= f.input :industry, label: '行业', input_html: { readonly: "readonly", class: "user-industry", id: "user_industry"} %>
  <%= f.input :location, label: '地址', input_html: { class: "", id: ""} %>
  <%= f.input :introduction, label: '相关介绍', as: :text, input_html: { class: "", id: "", placeholder: "最多输入1000字"} %>
  <div class="submit-box"><%= f.submit '保存',id: "submit"%></div>
  <% end %>
</div>

<script type="text/javascript">
  // 医院类型
  $('.user-prop').click(function() {
    var user_prop = ['综合医院','专科医院', '民营', '公立诊所', '民营诊所'];
    var pclass = 'user_prop';
    JobBasicNew(user_prop, ".user-prop", pclass);
  });

  // 医院规模
  $('.user-scale').click(function() {
    var user_scale = ['10人以下','10~50人', '50~200人', '200~500人', '500~1000人', '1000人以上'];
    var pclass = 'user_scale';
    JobBasicNew(user_scale, ".user-scale", pclass);
  });

  // 医院行业
  $('.user-industry').click(function() {
    var user_industry = ['医疗','医院', '美容', '卫生', '医药', '医疗器械', '整形', '口腔', '门诊', '诊所', '药店', '保健'];
    var pclass = 'user_industry';
    JobBasicNew(user_industry, ".user-industry", pclass);
  });

</script>
