<script>
  $(set_back())
</script>

<%= provide :title, "机构信息设置" %>
<div id="job_basic">
  <%= simple_form_for @hospital, method: :patch, remote: true, url: employer_user_path(params[:id]) do |f| %>
  <%= f.input :name, label: "机构全称", input_html: { readonly: "readonly", name: "name"} %>
  <%= f.input :property, label: '类型', input_html: { readonly: "readonly", class: "user-prop", id: "user_prop", name: "property"} %>
  <%= f.input :scale, label: '规模', input_html: { readonly: "readonly", class: "user-scale", id: "user_scale", name: "scale"} %>
  <%= f.input :industry, label: '行业', input_html: { readonly: "readonly", class: "user-industry", id: "user_industry", name: "industry"} %>
  <div class="job-pubilc">
    <%= f.input :location, label: '地址', input_html: { class: "", id: "hos_location", name: "location"} %>
    <span class="empty-cont" onclick="EmptyCont('hos_location')"></span>
  </div>
  <%= f.input :introduction, label: '相关介绍', as: :text, input_html: { class: "", id: "", placeholder: "最多输入500字", name: "introduction"} %>
  <%= f.submit '保存', id: "submit", style: "display: none"%>
  <div class="submit-box">
    <p id="save_form">保存</p>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  // 表单验证
  formAll("form");

  $(".submit-box").on('click', function() {

    // 验证表单,失败返回
    if(valid("form")){
      // 表单验证提示语弹窗
      var timer = setTimeout(function(){
        unvalidAlert();
      },5);

      return
    }

    $('#submit').trigger('click');
    $('.submit-box').css('pointer-events','none');
  })

  // 医院类型
  $('.user-prop').click(function() {
    this.blur()
    var user_prop = ['综合医院','专科医院', '民营', '公立诊所', '民营诊所'];
    addComponent('.wrap', user_prop, "#user_prop");
  });

  // 医院规模
  $('.user-scale').click(function() {
    this.blur()
    var user_scale = ['10人以下','10~50人', '50~200人', '200~500人', '500~1000人', '1000人以上'];
    addComponent('.wrap', user_scale, "#user_scale");
  });

  // 医院行业
  $('.user-industry').click(function() {
    this.blur();
    // var mask_size = $('.before-mask').length;
    // if(mask_size > 0) {
    //   $('.before-mask').remove();
    // };
    // var industry_text = $("#user_industry").attr('value');
    var user_industry = ['医疗','医院', '美容', '卫生', '医药', '医疗器械', '整形', '口腔', '门诊', '诊所', '药店', '保健'];
    addComponent('.wrap', user_industry, "#user_industry");
    // 获取下标
    // var text_index = function() {
    //   for(var i=0;i<user_industry.length;i++){
    //     if(user_industry[i] == industry_text) {
    //       return i
    //     }
    //   }
    // }
    //
    // $(".before-mask>p").eq(text_index()).css('color', '#3f9d9e');
  });


</script>
