<%= provide :title, "我的" %>
<%= provide :img_left, "home.png" %>
<%= provide :back, '/employer/home' %>

<div class="user-info">
  <div class="top-box" style="background:url(<%= image_path "resumes_bg.png" %>);background-size: 20.8rem 12.83rem;">
      <div class="avatar-box" style="background:url('<%= asset_path(@avatar) %>') no-repeat center;" id="avatar_box">
          <!-- 已修改样式 bobo -->
      </div>
      <p><%= @hospital.name %></p>
      <p><%= @hospital.location %></p>
  </div>

  <ul class="item">
    <li>
      <a href="<%= edit_employer_user_path(@hospital.id) %>">
        <%= image_tag "setting",class: "img-set" %>
        <span>医院信息设置</span>
      </a>
    </li>
    <li>
      <a href="<%= employer_user_path(@hospital.id) %>">
        <%= image_tag "shop",class: "img-shop" %>
        <span>我购买的服务</span>
        <%= image_tag "vip" ,class: "img-vip"%>
      </a>
    </li>
    <li>
      <%= image_tag "fair",class: "img-fair" %>
      <span>医才专场</span><span class="join-in">参加中</span>
    </li>
  </ul>
</div>

<%= render "/layouts/employer_footer" %>

<script type="text/javascript">
// 底部按钮样式
ReplayImg(2,'../assets/icon_11.png');
</script>
