<script>
  $(set_back())
</script>
<%= provide :title, "我购买的服务" %>
  <ul class="vip-list">
    <li>可接受的简历<span><span1><%= @employer.has_receive %></span1>/<%= @employer.may_receive %></span></li>
    <li>可发布的职位数<span><span1><%= @employer.has_release %></span1>/<%= @employer.may_release %></span></li>
    <li>可置顶的职位数<span><span1><%= @employer.has_set_top %></span1>/<%= @employer.may_set_top %></span></li>
    <li>可查看的公开简历数<span><span1><%= @employer.has_view %></span1>/<%= @employer.may_view %></span></li>
  </ul>
