<% apply_records.each do |a| %>
<li class="resume-time-color">
   <a href="/employer/resumes/<%= a["resume_id"]%>?job_id=<%= a["job_id"] %>" index="<%= a["view_at"] %>">
      <span class="show-name"><%= a["show_name"] %></span>
      <span><%= a["sex"] %></span>
      <span><%= a["age"] %>岁/<%= a["start_work_at"] %>/<%= a["highest_degree"] %></span>
      <% if a["resume_status"] == "筛选" %>
        <span class="status-choose"><%= a["resume_status"] %></span>
      <% else %>
        <span class="status-end"><%= a["resume_status"] %></span>
      <% end %>
      <div class="sort-right">
        <span><%= a["created_at"].strftime("%m-%d") %></span>
        <%= image_tag "list-icon.png" %>
      </div>
   </a>
</li>
<% end %>
