<section class="order-job">
<ul class="order-job-show">
  <% @jobs_by_position.each do |j| %>
  <li class="job-Arrang" onclick="JobListShow(this)">
    <span class="job-h"><%= j["name"] %></span>
    <span class="job-reg"><%= j["hospital_region"] %></span>
    <div class="job-right">
      <span class="job-img"><%= image_tag "man.png" %><span>
      <span class="job-len"><%= j["seekers"].length %>人
        <% if j["has_new"] %>
          <i class="i-img" ><%= image_tag "red_point.png" %></i>
        <% end %>
      </span>
      <span class="job-image"><%= image_tag "list-icon.png" %><span>
    </div>

    <!-- 按职位查看二级页面 -->
    <div class="order-job-list">
      <div class="sort-nav">
          <div class="job-unhandle" href="javascript:void(0);" onclick="HandleResume(this)">
            <span>待处理</span>
            <!-- 蒙层 -->
            <div class="after-mask"></div>
            <!-- 待处理下选框 -->
            <div class="handle-resume">
              <ul>
                <li onclick="sortResume(this)">待处理</li>
                <li onclick="sortResume(this)">已处理</li>
              </ul>
            </div>
          </div>
          <div class="job-array" href="javascript:void(0);" onclick="HandleResume(this)">
            <span>按年龄排序</span>
            <!-- 蒙层 -->
            <div class="after-mask"></div>
            <!-- 按条件排序 -->
            <div class="sort-resume">
              <ul>
                <li class="age" onclick="SortApply(this)">按年龄排序</li>
                <li class="wxperience" onclick="SortApply(this)">按经验排序</li>
                <li class="degree" onclick="SortApply(this)">按学历排序</li>
              </ul>
            </div>
          </div>
      </div>

      <!-- 按待处理排序 -->
      <ul class="job-pubilc">
        <% j["seekers"].each do |s| %>
        <% if s["resume_status"]=='筛选' %>
          <li>
            <a href="/employer/resumes/<%= s["resume_id"]%>?job_id=<%= j["id"] %>">
              <span><%= s["show_name"] %></span>
              <span><%= s["sex"] %></span>
              <span><%= s["age"] %>岁/<%= s["start_work_at"] %>/<%= s["hightest"] %></span>
              <div class="sort-right">
                <span><%= s["created_at"] %></span>
                <%= image_tag "list-icon.png" %>
              </div>
            </a>
          </li>
        <% end %>
        <% end %>
      </ul>

      <!-- 按已处理排序 -->
      <ul class="job-pubilc job-handle">
        <% j["seekers"].each do |s| %>
        <% if s["resume_status"]=='不合适'|| s["resume_status"]=="面试"%>
          <li>
            <a href="/employer/resumes/<%= s["resume_id"]%>?job_id=<%= j["id"] %>">
              <span><%= s["show_name"] %></span>
              <span><%= s["sex"] %></span>
              <span><%= s["age"] %>岁/<%= s["start_work_at"] %>/<%= s["hightest"] %></span>
              <div class="sort-right">
                <span><%= s["created_at"] %></span>
                <%= image_tag "list-icon.png" %>
              </div>
            </a>
          </li>
        <% end %>
        <% end %>
      </ul>

      <div class="sort-resume-ct">
          <!-- 按年龄排序 -->
          <ul class="job-pubilc job-age-page">
            <%= render :partial => 'resume_sort', :locals => {:resume_sorts => j["seekers"].sort_by{|s| -s['age']},:job_id => j["id"]} %>
          </ul>

          <!-- 按经验排序 -->
          <ul class="job-pubilc job-experience-page">
            <%= render :partial => 'resume_sort', :locals => {:resume_sorts => j["seekers"].sort_by{|s| -s['exp_num']},:job_id => j["id"]} %>
          </ul>

          <!-- 按学历排序 -->
          <ul class="job-pubilc job-degee-page">
            <%= render :partial => 'resume_sort', :locals => {:resume_sorts => j["seekers"].sort_by{|s| -s['edu_num']},:job_id => j["id"]} %>
          </ul>
      </div>
    </div>
  </li>
  <% end %>
</ul>
</section>
<script type="text/javascript">
    // 职位查看二级页面展示
    header_title = $("header>div>div").text();
    function JobListShow(obj){
      headertitle = $("header>div>div").text();
      var jobname = $(obj).children("span:eq(0)").text();
      if(headertitle != '简历管理'){
        $("header>div>div").text(jobname);
        $('.add-return').remove();
      }
      $("header>div>div").text(jobname);
      var div = $('<div></div>');
      div.attr('onclick','HideList(this)');
      div.attr('class','add-return');
      div.css({'width':'2.5rem','height':'2.3rem','position':'absolute',
              'top':'0','left':'0.2rem',
              'background':'#3b9da0 url("../assets/left2.png") no-repeat 30% 50% ',
              'backgroundSize':'0.5rem'});
      $('header>div').append(div);
      $(obj).children('div.order-job-list').css('display','block');

    }
    function HideList(obj){
      $(obj).remove();
      $("header>div>div").text(header_title);
      $('div.order-job-list').css('display','none');
    }

    //职位查看二级页面筛选or排序
    function HandleResume(obj){
      $(obj).children().not('span').toggle();
    }

    //展示不同的类型
    $(".handle-resume>ul>li").bind('mouseover',function(){
      y = $(this).index();
    })
    function sortResume(obj){
      var text = $(obj).text();
      $(obj).parent().parent().siblings('span').text(text);
      $(obj).css('color','#3f9d9f').siblings().css('color','#000');
      var ul = $(obj).parent().parent().parent().parent().siblings('ul');
      ul.eq(y).show().siblings('ul').hide();
    }

    //排序弹窗脚本
    $(".sort-resume>ul>li").bind('mouseover',function(){
      x = $(this).index();
    })
      function SortApply(sq) {
        $('.order-job-list>ul').css('display','none');
        $('.sort-resume-ct>ul').eq(x).show().siblings().hide();
        var text = $(sq).text();
        $(sq).parent().parent().siblings('span').text(text);
        $(sq).css('color','#3d9ea0').siblings().css('color','#000');
      }



</script>
