<% resume_sorts.each do |s| %>
  <li>
    <a href="/employer/resumes/<%= s["resume_id"]%>?job_id=<%= job_id %>">
      <span class="show-name"><%= s["show_name"] %></span>
      <span><%= s["sex"] %></span>
      <span><%= s["age"] %>岁/<%= s["start_work_at"] %>/<%= s["highest_degree"] %></span>
      <div class="sort-right">
        <span><%= s["recieve_at"][5,5] %></span>
        <%= image_tag "list-icon.png" %>
      </div>
    </a>
  </li>
<% end %>
