<%= provide :title, "简历管理" %>
<div id="resume_content">
  <div class="resume-content">
    <ul class="resume-nav">
      <li>按职位查看</li>
      <li onclick="OrderTime(this)">近三个月简历</li>
      <li>公开简历</li>
    </ul>

    <!-- 按职位查看 -->
     <%= render "order_job" %>

   <!-- 按时间查看 -->
   <section class="order-time">
     <div class="time-resume">
       <!-- 蒙板 -->
       <div class="after-mask"></div>
       <div class="time-date">
         <p onclick="TimeSort()">今天简历</p>
         <p onclick="TimeSort()">一周简历</p>
         <p onclick="TimeSort()">近三月简历</p>
       </div>
     </div>
     <ul class="sort-time-all">
       <% @apply_records.each do |a| %>
       <li>
          <a href="/employer/resumes/<%= a["resume_id"]%>?job_id=<%= a["job_id"] %>">
             <span><%= a["show_name"] %></span>
             <span><%= a["sex"] %></span>
             <span><%= a["age"] %>岁/<%= a["start_work_at"] %>/<%= a["hightest"] %></span>
             <div class="sort-right">
               <span><%= a["created_at"] %></span>
               <%= image_tag "list-icon.png" %>
             </div>
          </a>
       </li>

       <!-- 筛选不同时间段简历 -->
          <script type="text/javascript">
          function TimeSort(){
            var Mydate = new Date();
            var to_year = Mydate.getFullYear();
            var to_month = Mydate.getMonth()+1;
            var to_day = Mydate.getDate();
            var recieve_at = "<%= a['recieve_at'].ToString("yyyy-mm-dd") %>"
            console.log(recieve_at);
          }
          </script>

       <% end %>
     </ul>


   </section>


   <!-- 按公开简历查看 -->
   <section class="order-resume">
     <ul>
       <% @public_seekers.each do |p| %>
       <li>
         <a href="/employer/resumes/<%= p["resume_id"]%> ">
             <span><%= p["expect_job"] %></span>
             <span><%= p["show_name"] %></span>
             <span><%= p["sex"] %></span>
             <span><%= p["age"] %>岁/<%= p["start_work_at"] %>/<%= p["hightest"] %></span>
             <%= image_tag "list-icon.png" %>
         </a>
       </li>
       <% end %>
     </ul>
   </section>


  </div>
</div>

<!-- 引入底部导航 -->
<%= render '/layouts/employer_footer' %>

<script>
    $(document).ready(function(){
      $(".resume-content>ul>li").bind('click',function(){
        var index = $(this).index();
        $(".resume-content>section").eq(index).css('display','block').siblings('section').css('display','none');
      })
    })

    function OrderTime(){
      var display = $(".resume-content>section").eq(1).css('display');
      if(display == 'block'){
        $(".time-resume").toggle();
      }
    }
</script>
