
<%= provide :title, "简历管理" %>
<%= provide :img_left, "home.png" %>
<%= provide :back, '/employer/home' %>
<script>
  var may_receive = "<%= @vip_status['may_receive'] %>",
      may_receive_url = window.location.href,
      may_receive_index = may_receive_url.length,
      may_receive_string = may_receive_url.slice(may_receive_index-7, may_receive_index);

  if(may_receive == "false" && may_receive_string == "resumes") {
    againRelease('.resumes-index','您可接收的简历数已满，若想接收更多，请购买VIP');
  }

 app_reload();
 $(go_home())
</script>

<div id="resume_content">
  <div class="resume-content">
    <ul class="resume-nav">
      <li><span>按职位查看</span></li>
      <li onclick="OrderTime(this)"><span class="month-resume"><span>近三个月简历</span><%= image_tag "icon_30.png" %></span></li>
      <li><span>公开简历</span></li>
    </ul>

    <!-- 按职位查看 -->
     <%= render "order_job" %>

   <!-- 按时间查看 -->
   <section class="order-time">
     <div class="time-resume">
       <!-- 蒙板 -->
       <div class="after-mask"></div>
       <div class="time-date">
         <p class="today" onclick="TimeSort('today')">今天简历</p>
         <p class="week" onclick="TimeSort('week')">一周简历</p>
         <p class="month" onclick="TimeSort('month')">近三月简历</p>
       </div>
     </div>
     <ul class="sort-time-all">
       <%= render :partial => 'apply_records', :locals => {:apply_records => @apply_records} %>
     </ul>

     <!-- 筛选不同时间段简历 -->
     <script type="text/javascript">
       function TimeSort(msg) {
         $('.'+msg).css('color','#3d9ea0').siblings().css('color','#000');
         var text = $('.'+msg).text();
         $('.resume-nav>li:eq(1) .month-resume span').text(text);
         $('.sort-time-all').children().remove();
         if(msg == "today") {
           $('.sort-time-all').append(
             "<%= escape_javascript(render :partial => 'apply_records', :locals => {:apply_records => @apply_records.where('recieve_at > ?',Time.now.beginning_of_day)}) %>");
         }else if(msg == 'week') {
           $('.sort-time-all').append(
             "<%= escape_javascript(render :partial => 'apply_records', :locals => {:apply_records => @apply_records.where('recieve_at > ?',Time.now.beginning_of_day-7.days)}) %>");
         }else{
           $('.sort-time-all').append(
             "<%= escape_javascript(render :partial => 'apply_records', :locals => {:apply_records => @apply_records.where('recieve_at > ?',Time.now.beginning_of_day-90.days)}) %>");
         };
         $('.time-resume').hide();
       }

       var resume_time_li = $(".resume-time-color"),
           length = resume_time_li.length

       for(var i=0;i<length;i++) {
         var view_at = resume_time_li.eq(i).children("a").attr("index");
         if(view_at) {
           $(".resume-time-color").eq(i).children("a").attr('class','font-color');
         }
       }

     </script>
   </section>

   <!-- 按公开简历查看 -->
   <section class="order-resume">
     <ul>
       <% @public_seekers.each do |p| %>
       <li class="pubilc-resume-view">
         <a href="/employer/resumes/<%= p["resume_id"]%>" class="<%= p["is_view"] %>">
             <span class="expect-job"><%= p["expect_job"] %></span>
             <div class="middle-info">
               <span><%= p["show_name"] %></span>
               <span><%= p["sex"] %></span>
               <span><%= p["age"] %>岁/<%= p["start_work_at"] %>/<%= p["highest_degree"] %></span>
             </div>
             <%= image_tag "list-icon.png" %>
         </a>
       </li>
       <% end %>
     </ul>
   </section>
 </div>
</div>
<!-- 引入底部导航 -->
<%= render '/layouts/employer_footer' %>

<script>




    // 进入简历管理，判断进入哪个分页
    var enter_url = window.location.href,
        index = enter_url.length,
        string = enter_url.slice(index-4,index);

    if(string == "open") {
      $('.resume-nav>li:eq(2)').children().css({'color':'#3f9e9d','border-bottom':'2px solid #3f9e9d'})
      $('.resume-nav>li:eq(2)').siblings().children().css({'color':'#9f9f9f','border-bottom':'none'});
      $(".resume-content>section").eq(2).css('display','block').siblings('section').css('display','none');
      // may_view 为false时
      var may_view = "<%= @vip_status['may_view'] %>";
      if(may_view == 'false'){
        againRelease('.resumes-index','您可查看的简历数已满，若想查看更多，请购买VIP');
      }
    }
    else if(string == "time") {
      $('.resume-nav>li .month-resume').css({'color':'#3f9e9d','border-bottom':'2px solid #3f9e9d'}).children('img').attr('src', '../assets/icon_31.png');
      $('.resume-nav>li:eq(1)').siblings().children().css({'color':'#9f9f9f','border-bottom':'none'});
      $(".resume-content>section").eq(1).css('display','block').siblings('section').css('display','none');
    }

    // 简历管理的导航栏
    $(document).ready(function(){
      $(".resume-content>ul>li").bind('click',function(){
        var index = $(this).index();
        $(".resume-content>section").eq(index).css('display','block').siblings('section').css('display','none');
        switch(index){
          case 0:
            <% if params[:index] %>
            window.location.href = "<%= employer_resumes_path %>";
            <% end %>
            $('.resume-nav>li').eq(index).children().css({'color':'#3f9e9d','border-bottom':'2px solid #3f9e9d'})
            $('.resume-nav>li').eq(index).siblings().children().css({'color':'#9f9f9f','border-bottom':'none'});
            $('.resume-nav>li .month-resume').css({'color':'#9f9f9f','border-bottom':'none'}).children('img').attr('src', '../assets/icon_30.png');
          break;
          case 1:
            window.location.href = "<%= employer_resumes_path %>"+"#time";
            $('.resume-nav>li .month-resume').css({'color':'#3f9e9d','border-bottom':'2px solid #3f9e9d'}).children('img').attr('src', '../assets/icon_31.png');
            $('.resume-nav>li:eq(1)').siblings().children().css({'color':'#9f9f9f','border-bottom':'none'});
          break;
          case 2:
            window.location.href = "<%= employer_resumes_path %>"+"#open";
            $('.resume-nav>li').eq(index).children().css({'color':'#3f9e9d','border-bottom':'2px solid #3f9e9d'})
            $('.resume-nav>li').eq(index).siblings().children().css({'color':'#9f9f9f','border-bottom':'none'});
            $('.resume-nav>li .month-resume').css({'color':'#9f9f9f','border-bottom':'none'}).children('img').attr('src', '../assets/icon_30.png');
          break;
        }
      });
    })

    function OrderTime(){
      var display = $(".resume-content>section").eq(1).css('display');
      if(display == 'block'){
        $(".time-resume").toggle();
      }
    }

    // 底部按钮样式
    ReplayImg(0, "<%= image_path 'icon_16.png' %>");
</script>
