<%= provide :title, "简历管理" %>
<div id="resume_content">
  <div class="resume-content">
    <ul class="resume-nav">
      <li>按职位查看</li>
      <li onclick="OrderTime(this)">近三个月简历</li>
      <li>公开简历</li>
    </ul>

    <!-- 按职位查看 -->
     <%= render "order_job" %>

   <!-- 按时间查看 -->
   <section class="order-time">
   <ul class="sort-time-all">
     <% @apply_records.each do |a| %>
     <li>
        <a href="/employer/resumes/<%= a["resume_id"]%>?job_id=<%= a["job_id"] %>">
           <span><%= a["show_name"] %></span>
           <span><%= a["sex"] %></span>
           <span><%= a["age"] %>岁/<%= a["start_work_at"] %>/<%= a["hightest"] %></span>
           <div class="sort-right">
             <span><%= a["created_at"] %></span>
             <%= image_tag "list-icon.png" %>
           </div>
        </a>
     </li>
     <% end %>
   </ul>

   <div class="time-resume">
     <!-- 蒙板 -->
     <div class="after-mask"></div>
     <div class="time-date">
       <p>今天简历</p>
       <p>一周简历</p>
       <p>近三月简历</p>
     </div>
   </div>
   </section>

   <!-- 按公开简历查看 -->
   <section class="order-resume">
     <ul>
       <% @public_seekers.each do |p| %>
       <li>
         <a href="/employer/resumes/<%= p["resume_id"]%> ">
             <span><%= p["expect_job"] %></span>
             <span><%= p["show_name"] %></span>
             <span><%= p["sex"] %></span>
             <span><%= p["age"] %>岁/<%= p["start_work_at"] %>/<%= p["hightest"] %></span>
             <%= image_tag "list-icon.png" %>
         </a>
       </li>
       <% end %>
     </ul>
   </section>


  </div>
</div>

<!-- 引入底部导航 -->
<%= render '/layouts/employer_footer' %>

<script>
    $(document).ready(function(){
      $(".resume-content>ul>li").bind('click',function(){
        var index = $(this).index();
        $(".resume-content>section").eq(index).css('display','block').siblings('section').css('display','none');
      })
    })

    function OrderTime(){
      var display = $(".resume-content>section").eq(1).css('display');
      console.log(display);
      if(display == 'block'){
        $(".time-resume").toggle();
      }
    }
</script>
