<script type="text/javascript">

</script>
<%= provide :title, "简历管理" %>
<div id="resume_content">
  <div class="resume-content">
    <ul class="resume-nav">
      <li>按职位查看</li>
      <li onclick="OrderTime(this)">近三个月简历</li>
      <li>公开简历</li>
    </ul>

    <!-- 按职位查看 -->
     <%= render "order_job" %>

   <!-- 按时间查看 -->
   <section class="order-time">
     <div class="time-resume">
       <!-- 蒙板 -->
       <div class="after-mask"></div>
       <div class="time-date">
         <p onclick="TimeSort('today')">今天简历</p>
         <p onclick="TimeSort('week')">一周简历</p>
         <p onclick="TimeSort('month')">近三月简历</p>
       </div>
     </div>
     <ul class="sort-time-all">
       <%= render :partial => 'apply_records', :locals => {:apply_records => @apply_records} %>
     </ul>

     <!-- 筛选不同时间段简历 -->
     <script type="text/javascript">
       function TimeSort(msg) {
         $('.sort-time-all').children().remove();
         if(msg == "today") {
           $('.sort-time-all').append(
             "<%= escape_javascript(render :partial => 'apply_records', :locals => {:apply_records => @apply_records.where('recieve_at > ?',Time.now.beginning_of_day)}) %>");
         }else if(msg == 'week') {
           $('.sort-time-all').append(
             "<%= escape_javascript(render :partial => 'apply_records', :locals => {:apply_records => @apply_records.where('recieve_at > ?',Time.now.beginning_of_day-7.days)}) %>");
         }else{
           $('.sort-time-all').append(
             "<%= escape_javascript(render :partial => 'apply_records', :locals => {:apply_records => @apply_records.where('recieve_at > ?',Time.now.beginning_of_day-90.days)}) %>");
         };
         $('.time-resume').hide();
       }

     </script>
   </section>

   <!-- 按公开简历查看 -->
   <section class="order-resume">
     <ul>
       <% @public_seekers.each do |p| %>
       <li>
         <a href="/employer/resumes/<%= p["resume_id"]%> ">
             <span><%= p["expect_job"] %></span>
             <span><%= p["show_name"] %></span>
             <span><%= p["sex"] %></span>
             <span><%= p["age"] %>岁/<%= p["start_work_at"] %>/<%= p["hightest"] %></span>
             <%= image_tag "list-icon.png" %>
         </a>

       </li>
       <% end %>
     </ul>
   </section>
 </div>
</div>
<!-- 引入底部导航 -->
<%= render '/layouts/employer_footer' %>

<script>
    $(document).ready(function(){
      $(".resume-content>ul>li").bind('click',function(){
        var index = $(this).index();
        $(".resume-content>section").eq(index).css('display','block').siblings('section').css('display','none');
      })
    })

    function OrderTime(){
      var display = $(".resume-content>section").eq(1).css('display');
      if(display == 'block'){
        $(".time-resume").toggle();
      }
    }


    index_len = '<%= @apply_records.length %>';
    for(var i=0;i<index_len;i++){
      $('.sort-time-all>li').eq(i).attr('class','li_'+i);
    }

    // 底部按钮样式
    ReplayImg(0,'../assets/icon_16.png');
</script>
