<script>
  $(set_back())
</script>

<script type="text/javascript">
  // may_view 为false时
  var may_view = "<%= @vip_status['may_view'] %>";
  var id = "<%= params[:job_id]%>";
  if(id == '' && may_view == 'false'){
    $('.resumes-show>.wrap').hide();
    alert("您可查看的简历数已满，若想查看更多，请购买VIP");
  }
  // 进入后传该医院已查看该简历 user_id
  $.ajax({
    url: "<%= api_employer_viewers_path %>",
    type: "POST",
    data: {user_id: "<%= @user.id %>"},
    success: function(){
      console.log('上传成功');
    },
    error: function(){
      console.log('上传失败');
    },
  });
</script>
<% if params[:job_id] %>
<script type="text/javascript">
   // 每次查看简历后都会更新apply_record的view_at
  $.ajax({
   url: "<%= api_apply_record_path(@apply_record.id) %>",
   type: "PATCH",
   data: {user_id: "<%= @user.id %>", job_id: "<%= params[:job_id] %>"},
   success: function(){
     console.log("查看时间更改成功！");
   },
  })
</script>
<% end %>
<%= provide :title, @user.show_name %>
<%= provide :content, image_tag('icon_27.png') %>
<div class="resume-content">
  <% if @user %>
  <div class="resume-avatar">
    <% if @apply_record && @apply_record.from != "common" %>
      <div class="from-fair">医才专场</div>
    <% end %>
    <div class="show-img" style="background: url('<%= asset_path(@avatar) %>') no-repeat center;background-size: cover"></div>
    <div class="show-top">
      <p><%= @user.show_name %></p>
      <% if @apply_record %>
        <div><span>应聘:</span><span><%= @apply_record.job_name %></span></div>
      <% end %>
      <p>
        <%= @user.sex %>
        <span><%= @user_age %>岁</span>
        <span><%= @user.start_work_at %>工作经验</span>
      </p>
    </div>
  </div>
<% end %>

  <%= render "/webapp/resumes/preview_content" %>

  <!-- 按钮 -->
  <% if @apply_record && @apply_record.resume_status == "筛选" %>
    <ul id="btn_action">
      <li onClick="IsImproper(this)">不合适</li>
      <li onClick="IsInterview(this),CellPhone(this)">通知面试</li>
    </ul>
    <% elsif @apply_record && @apply_record.resume_status == "不合适" %>
      <ul id="btn_unright">
        <li>不合适</li>
      </ul>
      <% elsif @apply_record && @apply_record.resume_status == "面试" %>
        <ul id="btn_interview">
          <li onClick="CellPhone(this)">已通知面试</li>
        </ul>
  <% end %>
</div>
<!-- 不合适弹窗 -->
<div id="hide_btn">
  <ul>
    <li>
      <p>确认 不合适</p>
      <p>是否确认 <%= @user.show_name %> 不合适此职位</p>
    </li>
    <li onclick="MakeSure(this)">确认</li>
    <li onclick="CallOff(this)">取消</li>
  </ul>
</div>

<!-- 面试提示页面 -->
<div id="job_interview">
  <div class="inter-data">
    <p>
      <%= image_tag 'icon_25.png' %>
      <span><%= @user.show_name %>的简历通过筛选</span>
    </p>
    <p>请及时安排求职者进行面试</p>
  </div>
  <div class="inter-phone">
    <p><%= @user.show_name %></p>
    <p><%= @user.cellphone %></p>
    <a href="wtai://wp/mc;<%= @user.cellphone %>"><%= image_tag 'icon_26.png' %></a>
  </div>
</div>

<script type="text/javascript">
    // 面试提示页面
    function CellPhone() {
      $('#job_interview').css('display','block');
      $('.resumes-show .resume-content').css('display','none');
      $(document).scrollTop('0');
    }

    //返回按钮
    function InterReturn(){
      $('#job_interview').css('display','none');
      $('.resumes-show .resume-content').css('display','block');
      $('.top>.title').text(head_title);
      $('.inter-return').remove();
    }

    // 不合适弹窗按钮
    var height = $('#hide_btn').height();
    height  =height+ 60;
    $('#hide_btn').height(height);

    function IsImproper(){
      $('#hide_btn').css('display','block');
    }
    function CallOff(){
      $('#hide_btn').css('display','none');
    }

    // 不合适按钮
    function MakeSure(){
      $.ajax({
        url: "<%= api_employer_resumes_path %>",
        type: "PATCH",
        data: {apply_record_id: "<%= @apply_record.id if @apply_record %>",resume_status: "不合适"},
        dataType: "json",
        success: function(){
          $("#btn_action>li").eq(1).css('display','none')
                                   .siblings().css({'width':'100%','background':'#a1a1a1','color':'#dadada'});
        },
        error: function(){
          alert("操作失败");
        }
      });
      $('#hide_btn').css('display','none');
    }

    // 通知面试按钮
    function IsInterview(){
      $.ajax({
        url: "<%= api_employer_resumes_path %>",
        type: "PATCH",
        data: {apply_record_id: "<%=  @apply_record.id if @apply_record %>",resume_status: "面试"},
        success: function(){
          $("#btn_action>li").eq(0).css('display','none')
                                   .siblings().css({'width':'100%','background':'#a1a1a1','color':'#dadada'});
        },
        error: function(){
          alert("操作失败");
        }
      })
    }
</script>
