<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="/admin/jobs/check">云康控制台</a>
    <ul id="admin_nav" class="nav navbar-nav nav-console">
        <li  class="<%='active' if params[:controller] == 'admin/jobs'%> <%= 'hidden' if !@show_tabs[0]  %>" >
          <a href="/admin/jobs/check">职位管理</a>
        </li>
        <li class="<%='active' if params[:controller] == 'admin/resumes'%> <%= 'hidden' if !@show_tabs[1] %>">
            <a href="/admin/resumes">简历管理</a>
        </li>
        <li class="<%='active' if params[:controller] == 'admin/hospitals'%> <%= 'hidden' if !@show_tabs[2] %>">
            <a href="/admin/hospitals">入驻机构</a>
        </li>
        <li class="<%='active' if (params[:controller] == 'admin/fairs') ||
                  (params[:controller] == 'admin/fair_hospitals')%> <%= 'hidden' if !@show_tabs[3] %>">

            <a href="/admin/fairs">医聘专场</a>
        </li>
        <li class="<%='active' if params[:controller] == 'admin/vips'%> <%= 'hidden' if !@show_tabs[4] %>">
            <a href="/admin/vips">套餐管理</a>
        </li>
        <li class="<%='active' if params[:controller] == 'admin/users'%> <%= 'hidden' if !@show_tabs[5] %>">
            <a href="/admin/users">帐号管理</a>
        </li>
        <li class="<%='active' if params[:controller] == 'admin/data_statistics'%>">
            <a href="/admin/data_statistics">数据统计</a>
        </li>
    </ul>

      <%= link_to("退出",destroy_user_session_path, :method => :delete, class: "log-out" ) %>
      <span class="pull-right log-out">欢迎，<%= current_user.show_name %>！</span>
</nav>
