
<ul id="footer_btm_nav">
  <li><a class="btm-image-nav" href="<%= employer_resumes_path %>"><%= image_tag "icon_14.png" %><p>简历</p></a></li>
  <li><a class="btm-image-nav" href="<%= employer_jobs_path %>"><%= image_tag "icon_05.png" %><p>职位</p></a></li>
  <li><a class="btm-image-nav" href="<%= employer_users_path %>"><%= image_tag "icon_08.png" %><p>我的</p></a></li>
</ul>
