<ul id="footer_btm_nav">
  <li><a class="btm-image-nav" href="<%= employer_resumes_path %>"><%= image_tag "icon_14.png" %><span>简历</span></a></li>
  <li><a class="btm-image-nav" href="<%= employer_jobs_path %>"><%= image_tag "icon_05.png" %><span>职位</span></a></li>
  <li><a class="btm-image-nav" href="<%= employer_users_path %>"><%= image_tag "icon_08.png" %><span>我的</span></a></li>
</ul>
