<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="zh-cn">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="这是运行在云贷oa上的云康后台" />
    <meta name="keywords" content="区块链,以太坊,比特币,移动信贷,云贷oa,云康后台" />
    <title>区块链-移动信贷-云贷oa-云康 Admin</title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'admin' %>

    <script>
      if (!Array.isArray) {
        Array.isArray = function(arg) {
          return Object.prototype.toString.call(arg) === '[object Array]';
        };
      }
    </script>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "admin" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <%= javascript_include_tag "html5shiv" %>
    <%= javascript_include_tag "respond.min" %>
    <![endif]-->
  </head>
  <body class="<%= params[:controller][6,99] + '-' + params[:action] %> container-fluid" >

    <header>
        <%= render 'layouts/admin_header' %>
    </header>

    <div id="wrap">
        <div class="sidebar col-sm-2">
          <%= render 'layouts/admin_panel' %>
        </div>
        <div class="admin_main col-sm-10">
          <%= yield %>
        </div>
    </div>

    <footer>
        <div class="block"></div>
    </footer>

  </body>
</html>
