<!DOCTYPE html>
<html>
  <head>
    <title>云康 Admin</title>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "admin" %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'admin' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller][6,99] + '-' + params[:action] %>" >

    <header>
        <%= render 'layouts/admin_header' %>
    </header>

    <div id="wrap">
        <div class="sidebar col-sm-2">
          <%= render 'layouts/admin_panel' %>
        </div>
        <div class="admin_main col-sm-10">
          <%= yield %>
        </div>
    </div>

    <footer>
        <div class="block"></div>
    </footer>

  </body>
</html>
