<!DOCTYPE html>
<html>
    <head>
        <%= javascript_include_tag "application" %>
        <%= stylesheet_link_tag 'bootstrap.min' %>
        <%= stylesheet_link_tag 'bootstrap-datetimepicker.min' %>
        <%= stylesheet_link_tag 'bootstrap-datetimepicker.min' %>
        <%= stylesheet_link_tag 'console' %>
    </head>
    <body>
        <div id="container">
            <div id="header"></div>
            <div id="wrapper">
                <% if current_user.user_type == 'merchant' %>
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <a class="navbar-brand" href="#">
                        <%= image_tag 'logo.png', :class => 'logo' %>
                    </a>
                    <ul class="nav navbar-nav nav-console">
                        <li class=" <%= 'active' if params[:action] == 'show_online' || params[:action] == 'code' %> ">
                            <a href="/console/orders/0/code">消费</a>
                        </li>
                        <li
                            class=" <%= 'active' if (params[:controller] == 'console/orders' && params[:action] == 'index') || (params[:controller] == 'console/orders' && params[:action] == 'show') ||
                                                     params[:controller] == 'console/settlement_records' || params[:controller] == 'console/bills' %> ">
                            <a href="/console/orders">订单</a>
                        </li>
                        <li class=" <%= 'active' if params[:controller] == 'console/merchants' %> ">
                            <a href="/console/merchants/<%= current_user.id %>/merchant_info">餐厅信息</a>
                        </li>
                    </ul>
                </nav>
                <div class="panel panel-default">
                    <div class="panel-heading">控制面板</div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/console/orders/">餐厅名称</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/console/orders/0/show_online">优惠买单确认</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/console/orders/0/code">消费码确认</a>
                        </li>
                        <li class="list-group-item">
                            <%= link_to "订单查询", console_orders_path %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to "导出对账", console_settlement_record_bills_path(1) %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to "结算记录", console_settlement_records_path %>
                        </li>
                    </ul>
                </div>
                <% elsif current_user.user_type == 'admin' %>
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <a class="navbar-brand" href="#">
                        <%= image_tag 'logo.png', :class => 'logo' %>
                    </a>
                    <ul class="nav navbar-nav nav-console">
                        <li>
                            <a href="/console/users/<%= current_user.id %>">首页</a>
                        </li>
                        <li>
                            <a href="/console/merchants">商家</a>
                        </li>
                        <li>
                            <a class="active" href="/console/users">用户</a>
                        </li>
                        <li>
                            <%= link_to '对账',console_settlement_record_bills_path(:id) %>
                        </li>
                        <li>
                            <a href="/console/orders">订单</a>
                        </li>
                        <li>
                            <a href="/console/others">其它</a>
                        </li>
                    </ul>
                </nav>
                <div class="panel panel-default">
                    <div class="panel-heading">管理平台</div>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <%= link_to "[商家]", console_merchants_path %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "商家信息管理", console_merchants_path %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "商家账户管理", console_merchant_users_path %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "[用户]", console_users_path %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "用户列表", console_users_path %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "资料审核", console_user_check_user_path(:id) %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "[对账]", console_settlement_record_bills_path(:id),class:'panel_heading' %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "单个商家账单", console_settlement_record_bills_path(:id) %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "商家数据汇总", console_settlement_record_bills_path(:all) %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "商家结算记录", console_settlement_records_path %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "[订单]", console_orders_path %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "订单查询", console_orders_path %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "[其他]", console_preferential_pay_settings_path,class:'panel_heading' %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "优惠买单设置", console_preferential_pay_settings_path %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "优惠充值设置", console_other_path(:id) %>
                      </li>
                      <li class="list-group-item">
                        <%= link_to "举报管理", console_others_path %>
                      </li>
                    </ul>
                </div>
                <% end %>
                <!-- 接受控制器的notice -->
                <%= notice_message %>
                <div id="main">
                    <%= yield %>
                </div>
            </div>
            <div id="footer">
                <div class="block">
                    <p>Copyright &copy;<%= Time.now.year %>Web App.</p>
                </div>
            </div>
        </div>

        <%= javascript_include_tag "jquery-1.8.3.min" %>
        <%= javascript_include_tag "bootstrap-datetimepicker.min" %>
        <%= javascript_include_tag "bootstrap-datetimepicker.zh-CN" %>
        <%= javascript_include_tag "console" %>
    </body>
</html>
